{{#if build.isFinished}}
  <div class="row">
    {{approval-button build=build}}
  </div>
  <div class="row">
    {{#if build.isPullRequest}}
      <a href="{{build.repo.htmlUrl}}/pull/{{build.pullRequestNumber}}">Pull Request #{{build.pullRequestNumber}}</a>
    {{/if}}
    {{build.commit.branch}} --> {{build.baseBuild.commit.branch}}
  </div>
  {{#if build.isApproved}}
    <div class="row">
      Last approved by @{{build.approvedBy.login}}
    </div>
  {{/if}}
{{/if}}