<div class="row">
  <div class="four columns">
    <h5 class="BuildHeader-title">
      {{#link-to "namespace.index" build.repo.namespace.id}}{{build.repo.namespace.id}}{{/link-to}}/{{#link-to "repo.index" build.repo.namespace.id build.repo.name}}{{build.repo.name}}{{/link-to}}
      <a href="{{build.repo.htmlUrl}}">{{fa-icon "github"}}</a>
      #{{build.buildNumber}}
    </h5>
    {{build-state build=build}}
    {{#if build.commit}}
      {{commit-info build=build}}
    {{/if}}
  </div>
  <div class="three columns">
    <div>{{build-duration build=build}}</div>
    <div>{{build-started build=build}}</div>
    <div>{{build-comparison-info build=build}}</div>
  </div>
  <div class="three columns">
    {{width-selector updateSelectedWidths=updateSelectedWidths build=build}}
  </div>
  <div class="two columns">
    {{approval-section build=build classes="u-pull-right"}}
  </div>
</div>
