<div class="BuildHeader-inner">
  <div class="row">
    <div class="six columns">
      <span class="BuildHeader-title">
        {{#link-to "namespace.index" build.repo.namespace.id}}{{build.repo.namespace.id}}{{/link-to}}
        / {{#link-to "repo.index" build.repo.namespace.id build.repo.name}}{{build.repo.name}}{{/link-to}}
        <a href="{{build.repo.htmlUrl}}">{{fa-icon "github"}}</a>
        Build #{{build.buildNumber}}
      </span>
      {{build-info-expando build=build}}
    </div>
    <div class="four columns">
      {{width-selector updateSelectedWidths=updateSelectedWidths build=build}}
    </div>
    <div class="two columns">
      {{approval-section build=build}}
    </div>
  </div>
  <div class="row">
    <div class="two columns">
      {{build-state build=build}}
    </div>
    <div class="four columns">
      {{#if build.commit}}
        {{commit-info build=build}}
      {{/if}}
    </div>
    <div class="four columns">
    </div>
    <div class="two columns">
    </div>
  </div>
</div>
