<div class="row">
  <div class="two columns">
    <h6>{{#link-to "builds.build" build}}Build #{{build.buildNumber}}{{/link-to}}</h6>
  </div>
  <div class="five columns">
    {{commit-info build=build}}
  </div>
  <div class="three columns BuildCard-timingSection">
    {{build-duration build=build}}<br>
    {{build-started build=build}}
  </div>
  <div class="two columns">{{build-state build=build}}</div>
</div>
