{{#if build.isGithubLinked}}
  {{#if build.isPullRequest}}
    <h2>
      {{build-overview-icon icon='pull-request'}}
      {{#if build.pullRequestTitle}}
        <a href="{{build.repo.htmlUrl}}/pull/{{build.pullRequestNumber}}">{{build.pullRequestTitle}}</a>
      {{/if}}
      {{#if build.pullRequestNumber}}
        <span class="BuildOverviewInfo-prNumber">
          {{#if build.pullRequestTitle}}
            #{{build.pullRequestNumber}}
          {{else}}
            <a href="{{build.repo.htmlUrl}}/pull/{{build.pullRequestNumber}}">#{{build.pullRequestNumber}}</a>                  
          {{/if}}
        </span>
      {{/if}}
    </h2>
  {{else}}
    <h2>
      {{build-overview-icon icon='branch'}}
      <a href="{{build.repo.htmlUrl}}/tree/{{build.branch}}">
        {{build.branch}}
      </a>
    </h2>
  {{/if}}
{{else}}
  <h2>
    {{build-overview-icon icon='branch'}}
    {{build.branch}}
  </h2>
{{/if}}

{{build-info-dropdown build=build}}
