<div class="BuildInfoExpando-handle" {{action 'toggle'}}>
  {{fa-icon "info"}}
</div>
<div class="BuildInfoExpando-inner">
  <div>{{build-duration build=build}}</div>
  <div>{{build-started build=build}}</div>
  <div>{{build-comparison-info build=build}}</div>
</div>