<div class="BuildHeader-inner">
  <div class="row">
    <div class="six columns">
      <div>
        <span class="BuildHeader-title">
          {{#link-to "namespace.index" build.repo.namespace.id}}{{build.repo.namespace.id}}{{/link-to}}
          / {{#link-to "repo.index" build.repo.namespace.id build.repo.name}}{{build.repo.name}}{{/link-to}}
          Build #{{build.buildNumber}}
        </span>
      </div>
      {{build-info build=build}}
      <div class="BuildHeader-stateAndCommit">
        {{build-state build=build}}
        {{#if build.commit}}
          {{commit-info build=build}}
        {{/if}}
      </div>
    </div>
    <div class="four columns">
      &nbsp;
      {{!-- {{width-selector updateSelectedWidths=updateSelectedWidths build=build}} --}}
    </div>
    <div class="two columns">
      {{approval-section build=build}}
    </div>
  </div>
</div>
