{{#if build.isPending}}
  <div class="BuildState-icon">{{fa-icon 'upload'}}</div>
  <div class="BuildState-textAligner">
    <div class="BuildState-text">
      <strong>Receiving...</strong>
    </div>
  </div>
{{else if build.isProcessing}}
  <div class="BuildState-icon">{{fa-icon 'fa-spinner fa-pulse'}}</div>
  <div class="BuildState-textAligner">
    <div class="BuildState-text">
      <strong>Processing...</strong>
    </div>
  </div>
{{else if build.isFinished}}
  {{#if build.isApproved}}
    <div class="BuildState-icon">{{fa-icon 'fa-thumbs-up'}}</div>
    <div class="BuildState-textAligner">
      <div class="BuildState-text">
        <strong>{{pluralize build.totalComparisonsDiff "visual diff"}}</strong>
        <br>
        {{pluralize build.totalComparisonsFinished "total snapshot"}}
      </div>
    </div>
  {{else}}
    {{#if build.hasDiffs}}
      <div class="BuildState-icon">{{fa-icon 'fa-dot-circle-o'}}</div>
      <div class="BuildState-textAligner">
        <div class="BuildState-text">
          <strong>{{pluralize build.totalComparisonsDiff "visual diff"}}</strong>
          <br>
          {{pluralize build.totalComparisonsFinished "total snapshot"}}
        </div>
      </div>
    {{else}}
      <div class="BuildState-icon">{{fa-icon 'fa-check-circle-o'}}</div>
      <div class="BuildState-textAligner">
        <div class="BuildState-text">
          <strong>No visual diffs</strong>
          <br>
          {{pluralize build.totalComparisonsFinished "total snapshot"}}
        </div>
      </div>
    {{/if}}
  {{/if}}
{{else if build.isFailed}}
  <div class="BuildState-icon">{{fa-icon 'exclamation'}}</div>
  <div class="BuildState-textAligner">
    <div class="BuildState-text">
      <strong>Failed</strong><br>
      {{build.failureReasonHumanized}}
    </div>
  </div>
{{else if build.isExpired}}
  <div class="BuildState-icon">{{fa-icon 'lock'}}</div>
  <div class="BuildState-textAligner">
    <div class="BuildState-text">
      <strong>Expired</strong><br>
    </div>
  </div>
{{/if}}