<div class="row">
  <div class="two columns">
    <h6>{{#link-to "builds.build" build}}Build #{{build.buildNumber}}{{/link-to}}</h6>
  </div>
  <div class="four columns">
    {{commit-info build=build}}
  </div>
  <div class="three columns BuildCard-timingSection">
    {{build-duration build=build}}<br>
    {{build-started build=build}}
    {{!-- {{build-comparison-info build=build}}<br> --}}
  </div>
  <div class="three columns">{{build-state build=build classes="u-pull-right"}}</div>
</div>
