{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  createReview=createReview
}}
<div class="BuildContainer-body position-absolute overflow-y-scroll w-full">
  {{build-header
    build=build
    showSupport=showSupport
  }}

  {{#if showComparisons}}
    {{#if build.comparisons.isPending}}
      {{loading-page}}
    {{else}}
      {{snapshot-list
        snapshots=build.snapshots
        buildContainerSelectedWidth=buildContainerSelectedWidth
        buildWidths=build.comparisonWidths
        activeSnapshotId=activeSnapshotId
        updateActiveSnapshotId=(action "updateActiveSnapshotId")
        selectedWidth=selectedWidth
        snapshotWidthChangeTriggered=(action "snapshotWidthChangeTriggered")
        build=build
        showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
        isShowingModal=isShowingModal
        createReview=createReview
      }}
    {{/if}}
  {{/if}}
</div>
