{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  showDiffs=showDiffs
  toggleShowDiffs=toggleShowDiffs
  createReview=createReview
}}
<div class="BuildContainer-body w-full">
  {{build-header
    build=build
    showSupport=showSupport
  }}

  {{#if (or build.isRunning isSnapshotsLoading)}}
    {{loading-page}}
  {{else if build.isFinished}}
    {{snapshot-list
      showDiffs=showDiffs
      toggleShowDiffs=toggleShowDiffs
      snapshotsChanged=snapshotsChanged
      snapshotsUnchanged=snapshotsUnchanged
      build=build
      showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
      isShowingModal=isShowingModal
      createReview=createReview
    }}
  {{/if}}
</div>
