{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  createReview=createReview
}}
<div class="BuildContainer-body position-absolute overflow-y-scroll w-full">
  {{build-header
    build=build
    showSupport=showSupport
  }}

  {{#if showSnapshots}}
    {{snapshot-list
      snapshots=snapshots
      activeSnapshotId=activeSnapshotId
      updateActiveSnapshotId=(action "updateActiveSnapshotId")
      build=build
      showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
      isShowingModal=isShowingModal
      createReview=createReview
    }}
  {{else}}
    {{loading-page}}
  {{/if}}
</div>
