{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  createReview=createReview
}}
<div class="BuildContainer-body w-full">
  {{build-header
    build=build
    showSupport=showSupport
  }}

  {{#if shouldShowLoadingSpinner}}
    {{loading-page}}
  {{else if build.isFinished}}
    {{snapshot-list
      snapshots=snapshots
      activeSnapshotId=activeSnapshotId
      updateActiveSnapshotId=(action "updateActiveSnapshotId")
      build=build
      showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
      isShowingModal=isShowingModal
      createReview=createReview
    }}
  {{/if}}
</div>
