<div class="grid col-auto gap-1 align-center">
  {{comparison-icon build=build}}
  <div class="f2 lh-1 text-weight-semibold">
    {{#if build.isPending}}
      Receiving build
    {{else if build.isProcessing}}
      Processing visual differences
    {{else if build.isFinished}}
      {{#if build.isApproved}}
        {{#if (eq build.reviewStateReason 'all_snapshots_approved')}}
          All changes approved
        {{else if (eq build.reviewStateReason 'all_snapshots_approved_previously')}}
          All changes approved
        {{else if (eq build.reviewStateReason 'no_diffs')}}
          No changes to review
        {{/if}}
      {{else}}
        {{pluralize build.totalSnapshotsUnreviewed "unreviewed change"}}
      {{/if}}
    {{else if build.isFailed}}
      This build has failed
    {{else if build.isExpired}}
      This build has expired
    {{/if}}
  </div>
</div>
<div class="f5 text-weight-semibold text-light">
  {{#if build.isPending}}
    Hang tight&hellip;
  {{else if build.isProcessing}}
    {{#if (eq progressBarWidth "0%")}}
      Finishing up&hellip;
    {{else}}
      <span class="text-dark">{{build.totalComparisonsFinished}}</span> of <span class="text-dark">{{build.totalComparisons}}</span> screenshots processed
    {{/if}}
  {{else if build.isFinished}}
    <div>
      {{#if build.isApproved}}
        {{moment-from-now build.approvedAt interval=60000}}
        {{#if build.approvedBy}}
          by {{build.approvedBy.name}}
        {{/if}}
      {{else}}
        in <span class="text-dark">{{build.totalSnapshots}}</span> total snapshots
      {{/if}}
    </div>
  {{else if build.isFailed}}
    <div>{{build.failureReasonHumanized}}</div>
  {{/if}}
</div>
