<div>
  <span class="CommitInfo-branch">
    {{#if build.isGithubLinked}}
      <a href="{{build.repo.htmlUrl}}">{{fa-icon "github"}}</a>
    {{/if}}
    {{build.branch}}
  </span>
  <span class="CommitInfo-commit">
    {{#if build.isGithubLinked}}
        {{!-- #projectification: move these urls to builds. --}}
      <a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a>
    {{else}}
      {{build.commit.shaShort}}
    {{/if}}
  </span>
  <span class="CommitInfo-pr">
    {{#if build.isGithubLinked}}
      {{#if build.isPullRequest}}
        (<a href="{{build.repo.htmlUrl}}/pull/{{build.pullRequestNumber}}">#{{build.pullRequestNumber}}</a>)
      {{/if}}
    {{/if}}
  </span>
  <span class="CommitInfo-author">
    {{build.commit.authorName}}
  </span>
</div>
<div>
  <span class="CommitInfo-message">
    {{build.commit.message}}
  </span>
</div>
