<div>
  <span class="CommitInfo-branch">
    <a href="{{build.repo.htmlUrl}}">{{fa-icon "github"}}</a>
    {{build.branch}}
  </span>
</div>
<div>
  <span class="CommitInfo-commit">
    <a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a>
    {{#if build.isPullRequest}}
      <a href="{{build.repo.htmlUrl}}/pull/{{build.pullRequestNumber}}">PR #{{build.pullRequestNumber}}</a>
    {{/if}}
  </span>
  <span class="CommitInfo-author">
    {{build.commit.authorName}}
  </span>
</div>
<div>
  <span class="CommitInfo-message">
    {{build.commit.message}}
  </span>
</div>
