{{#if isDiff}}
  {{#if comparison.isSame}}
      <p>No visual changes at {{comparison.width}}px.</p>
  {{else}}
    {{#if comparison.wasAdded}}
      {{simple-image image=headImage}}
    {{else}}
      <div class="Viewer-pdiffImageBox">
        <div class="pdiffImageOverlay" data-test-comparison-viewer-full-diff-image-overlay>
          {{simple-image image=diffImage classes="Viewer-pdiffImageOverlay"}}
        </div>
        {{simple-image image=headImage}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}

{{#if isBase}}
  {{#if comparison.wasAdded}}
      <p>
        {{fa-icon "remove" class="LargeXIcon"}}
        New snapshot,<br>nothing to compare yet.
      </p>
  {{else}}
    {{simple-image image=baseImage}}
  {{/if}}
{{/if}}

{{#if isHead}}
  {{simple-image image=headImage}}
{{/if}}
