<div class="ComparisonViewer-header row">
  <div class="ComparisonViewer-title" title="{{comparison.headSnapshot.name}}">
    <span>{{comparison.headSnapshot.name}}</span>
  </div>
  <div class="ComparisonViewer-details">
    {{comparison-status comparison=comparison}}
    {{comparison-duration comparison=comparison}}
  </div>
</div>
{{#if isExpanded}}
  {{#if comparison.wasCompared}}
    {{#if comparison.isDifferent}}
      <div class="row">
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
          {{#with comparison.baseScreenshot.lossyImage as |image|}}
            <div class="ComparisonViewer-pdiffImageBox" style="max-width: {{image.width}}px">
              <img class="ComparisonViewer-pdiffImage" src="{{image.url}}">
            </div>
          {{/with}}
        </div>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
          {{#with comparison.headScreenshot.lossyImage as |lossyImage|}}
            <div class="ComparisonViewer-pdiffImageBox ComparisonViewer-pdiffImageBox--actionable" style="max-width: {{lossyImage.width}}px">
              <img {{action "toggleOverlay" bubbles=false}} class="ComparisonViewer-pdiffImage ComparisonViewer-pdiffImage--actionable" src="{{lossyImage.url}}">
              {{#if isOverlayEnabled}}
                {{#with comparison.pdiff.diffImage as |diffImage|}}
                  <img {{action "toggleOverlay" bubbles=false}} class="ComparisonViewer-pdiffImageOverlay" src="{{diffImage.url}}">
                {{/with}}
              {{/if}}
            </div>
          {{/with}}
        </div>
      </div>
    {{else}}
      {{!-- Compared, but not different. --}}
      <div class="row ComparisonViewer-noDiffBox">
        No visual diffs detected.

        {{#if showNoDiffSnapshot}}
          <a {{action "toggleNoDiffResource" bubbles=false}} href="#">Hide snapshot</a>
        {{else}}
          <a {{action "toggleNoDiffResource" bubbles=false}} href="#">Show snapshot</a>
        {{/if}}
      </div>

      {{#if showNoDiffSnapshot}}
        <div class="row">
          <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
            <div class="ComparisonViewer-snapshotMissing">
              {{fa-icon "arrows-h"}}
              <p>No visual diffs detected.</p>
            </div>
          </div>
          <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
            {{#with comparison.headScreenshot.lossyImage as |image|}}
              <div class="ComparisonViewer-pdiffImageBox" style="max-width: {{image.width}}px">
                <img class="ComparisonViewer-pdiffImage" src="{{image.url}}">
              </div>
            {{/with}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{else}}
    {{#if comparison.wasAdded}}
      {{! New snapshot. }}
      <div class="row">
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
          <div class="ComparisonViewer-snapshotMissing">
            {{fa-icon "remove"}}
            <p>New snapshot,<br>nothing to compare yet.</p>
          </div>
        </div>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
          {{#with comparison.headScreenshot.lossyImage as |image|}}
            <div class="ComparisonViewer-pdiffImageBox" style="max-width: {{image.width}}px">
              <img class="ComparisonViewer-pdiffImage" src="{{image.url}}">
            </div>
          {{/with}}
        </div>
      </div>
    {{/if}}
    {{#if comparison.wasRemoved}}
      {{!-- TODO: was removed. --}}
    {{/if}}
  {{/if}}
{{/if}}
