<div class="btn-group" data-test-comparison-mode-switcher role="group" aria-label="Snapshot Comparison Switcher">
  {{#if wasAdded}}
    <button type="button" class="btn is-active"
      {{action updateComparisonMode 'head'}} data-test-comparison-mode-switcher-new>New Snapshot</button>
  {{else}}
    <button type="button" class="btn {{if (eq comparisonMode 'base') 'is-active'}}"
      {{action updateComparisonMode 'base'}} data-test-comparison-mode-switcher-base>Original</button>
    <button type="button" class="btn {{if (eq comparisonMode 'diff') 'is-active'}}"
      {{action updateComparisonMode 'diff'}} data-test-comparison-mode-switcher-diff>Diff</button>
    <button type="button" class="btn {{if (eq comparisonMode 'head') 'is-active'}}"
      {{action updateComparisonMode 'head'}} data-test-comparison-mode-switcher-head>New</button>
  {{/if}}
</div>
