<div class="ComparisonViewer-header row">
  <strong>{{comparison.headSnapshot.name}}</strong>
  {{comparison-status comparison=comparison classes="u-pull-right"}}
  {{comparison-duration comparison=comparison classes="u-pull-right"}}
</div>
{{#if isExpanded}}
  {{#if comparison.isDifferent}}
    {{#if comparison.pdiff}}
      <div class="row">
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
          <div class="ComparisonViewer-pdiffImageBox">
            <img class="ComparisonViewer-pdiffImage" src="{{comparison.baseScreenshot.lossyImage.url}}">
          </div>
        </div>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
          <div class="ComparisonViewer-pdiffImageBox ComparisonViewer-pdiffImageBox--actionable">
            <img {{action "toggleOverlay"}} class="ComparisonViewer-pdiffImage ComparisonViewer-pdiffImage--actionable" src="{{comparison.headScreenshot.lossyImage.url}}">
            {{#if isOverlayEnabled}}
              <img {{action "toggleOverlay"}} class="ComparisonViewer-pdiffImageOverlay" src="{{comparison.pdiff.diffImage.url}}">
            {{/if}}
          </div>
        </div>
      </div>
    {{else}}
      {{#if comparison.headSnapshot}}
        {{! New snapshot. }}
        <div class="row">
          <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
            <div class="ComparisonViewer-snapshotMissing">
              {{fa-icon "remove"}}
              <p class="u-text-small">New snapshot, nothing to compare yet.</p>
            </div>
          </div>
          <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
            <div class="ComparisonViewer-pdiffImageBox">
              <img class="ComparisonViewer-pdiffImage" src="{{comparison.headScreenshot.lossyImage.url}}">
            </div>
          </div>
        </div>
      {{/if}}
    {{/if}}
  {{else}}
    <div class="row ComparisonViewer-noDiffBox">
      No visual diffs detected.

      {{#if showNoDiffSnapshot}}
        <a {{action "toggleNoDiffResource"}} href="#">Hide snapshot</a>
      {{else}}
        <a {{action "toggleNoDiffResource"}} href="#">Show snapshot</a>
      {{/if}}
    </div>

    {{#if showNoDiffSnapshot}}
      <div class="row">
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--left">
          <div class="ComparisonViewer-snapshotMissing">
            {{fa-icon "arrows-h"}}
            <p class="u-text-small">No visual diffs detected.</p>
          </div>
        </div>
        <div class="ComparisonViewer-halfColumn ComparisonViewer-halfColumn--right">
          <div class="ComparisonViewer-pdiffImageBox">
            <img class="ComparisonViewer-pdiffImage" src="{{comparison.headScreenshot.lossyImage.url}}">
          </div>
        </div>
      </div>
    {{/if}}
  {{/if}}
{{/if}}
