{{#if emailPasswordIdentity}}
  <div class="flex space-between mb-4">
    <div class="text-mono flex align-center">
      {{inline-svg "percy-logo-small-on-light" class="mr-2"}}
      {{session.currentUser.name}}
    </div>
    <button type="button" class="btn" {{action 'disconnectIdentity' emailPasswordIdentity.id}} disabled={{isDisconnectIdentityDisabled}}>Disconnect</button>
  </div>
{{else}}
  <button type="button" class="btn btn-md btn-primary w-full mb-4" {{action "addService" "auth0"}}>Add email/password account</button>
{{/if}}


{{#if githubIdentity}}
  <div class="flex space-between mb-4">
    <div class="text-mono flex align-center">
      {{inline-svg "github-icon" class="mr-2"}}
      FE doesn't get this information
    </div>
    <button type="button" class="btn" disabled={{isDisconnectIdentityDisabled}} {{action 'disconnectIdentity' githubIdentity.id}}>Disconnect</button>
  </div>
{{else}}
  <button type="button" class="btn btn-md btn-github w-full mb-4" {{action "addService" "github"}}>Connect your Github account</button>
  <div class="note">
    Connecting your GitHub account allows you to sign in with GitHub and {{#link-to 'organizations.organization.settings' TODO}}manage your GitHub integration{{/link-to}} with Percy.
  </div>
{{/if}}

