{{#if emailPasswordIdentity}}
  <div class="flex space-between mb-4">
    <div class="text-mono flex align-center">
      {{inline-svg "percy-logo-small-on-light" class="mr-2"}}
      {{session.currentUser.name}}
    </div>
    <button type="button" class="btn">Disconnect</button>
  </div>
{{else}}
  <button type="button" class="btn btn-md btn-primary w-full mb-4" {{action "showEmailPassLockModal"}}>Add email/password account</button>
{{/if}}


{{#if githubIdentity}}
  <div class="flex space-between mb-4">
    <div class="text-mono flex align-center">
      {{inline-svg "github-icon" class="mr-2"}}
      {{githubIdentity.login}}
    </div>
    <button type="button" class="btn">Disconnect</button>
  </div>
{{else}}
  <button type="button" class="btn btn-md btn-github w-full mb-4" {{action "showGithubLockModal"}}>Connect your Github account</button>
  <div class="note">
    Connecting your GitHub account allows you to sign in with GitHub and {{#link-to 'organizations.organization.settings' TODO}}manage your GitHub integration{{/link-to}} with Percy.
  </div>
{{/if}}

