  <section>
    <h2 class="f1 text-weight-regular mb-1">Create Account</h2>
    <p>Please set a password for an email/password account. <strong>{{session.currentUser.email}}</strong> will be used as your email (you can change this later in your profile).</p>
    <form {{action addEmailPasswordAccount}}>
      <label>
        <span class="label-body">Password</span>
        <input type=password class="form-control {{if fieldErrors 'error'}}">
      </label>
      <label class="mb-3">
        <span class="label-body">Confirm Password</span>
        <input type=password class="form-control {{if fieldErrors 'error'}}">
      </label>

      {{form-fields/input
        property="input"
        title="Password"
        changeset=changeset
        data-test-connected-accounts-password=true
      }}

      {{form-fields/input
          property="billingEmail"
          title="Billing email (for payment receipts)"
          changeset=changeset
          validateProperty=(action "validateProperty" changeset "billingEmail")
      }}
      {{form-fields/submit
        value="Create account"
        classes="Button"
        isSaving=isSaving
        isSaveSuccessful=isSaveSuccessful
        submit=(action "save")
      }}

      <button type="button" class="btn btn-md btn-primary mb-2">Create account</button>
    </form>
  </section>
