<div class="container">
  <div class="Header Header--dark flex space-between align-center">
    <div class="flex align-center">
      {{#link-to "index"}}
        <img src="/images/percy.svg" class="Header-logo mr-4">
      {{/link-to}}
      {{#if session.isAuthenticated}}
        {{organizations/switcher-nav currentOrganization=currentOrganization}}
      {{/if}}
      {{#if currentOrganization}}
        {{#link-to "organization.index" currentOrganization.slug class="mr-4 hide-on-mobile"}}Dashboard{{/link-to}}
        {{#if (eq "admin" currentOrganization.currentUserMembership.role)}}
          {{#link-to "organizations.organization.settings" currentOrganization.slug data-test-settings-link=true class="hide-on-mobile"}}Settings{{/link-to}}
        {{/if}}
      {{/if}}
    </div>

    {{trial-bar organization=currentOrganization type="is-on-dark"}}

    {{#if session.isAuthenticated}}
      {{nav-menu user=session.currentUser currentOrganization=currentOrganization}}
    {{else}}
      {{nav-menu}}
    {{/if}}
  </div>
</div>
