<div class="row">
  <div class="one-half column">
    <div class="MockApprovalFlow-window">
      {{! This relies on 2-way binding sharing the isApproved var, and will break in later Ember versions. }}
      {{mock-approval-button isApproved=isApproved isButtonHovered=isButtonHovered isButtonActive=isButtonActive}}
      <img src="/images/example-approval.png" alt="Example approval window">
    </div>
  </div>
  <div class="one-half column">
    <img src="/images/github-mock-success.png" class="MockApprovalFlow-github" style="{{showWhenApproved}}" {{action "toggleOverlay"}} alt="Example GitHub PR success">
    <img src="/images/github-mock-failure.png" class="MockApprovalFlow-github" style="{{hideWhenApproved}}" {{action "toggleOverlay"}} alt="Example GitHub PR failure">
  </div>
</div>
