<div style="position: relative">
  <img width="1200" height="696" src="/images/example-window-overlay.png"  style="{{showWhenOverlay}}" {{action "toggleOverlay"}} alt="Example Percy diff window">
  <img width="1200" height="696" src="/images/example-window.png" style="{{hideWhenOverlay}}" {{action "toggleOverlay"}} alt="Example Percy diff window">
  {{#unless anyInteractions}}
    <div {{action "toggleOverlay"}} class="PulseCircle"></div>
  {{/unless}}
</div>

<div class="MockBuildPage-note1 hint--right hint--always hint--rounded" data-hint="Pixel-by-pixel diffs,
even for complex UI states"></div>
<div class="MockBuildPage-responsiveNote hint--bottom hint--always hint--rounded" data-hint="Pixel-by-pixel diffs,
even for complex UI states"></div>

<div class="MockBuildPage-note2 hint--right hint--always hint--rounded" data-hint="Catch nasty visual regressions
before you launch them"></div>
<div class="MockBuildPage-responsiveNote hint--bottom hint--always hint--rounded" data-hint="Catch nasty visual regressions
before you launch them"></div>

<div class="MockBuildPage-note3 hint--right hint--always hint--rounded" data-hint="Notice tiny changes
invisible to the human eye"></div>
<div class="MockBuildPage-responsiveNote hint--bottom hint--always hint--rounded" data-hint="Notice tiny changes
invisible to the human eye"></div>
