<div class="row u-text-center">
  <div class="PricingSection-bucket">
    <div class="PricingSection-title">Basic</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong>{{format-currency basicPrice precision=0}}</strong> per month
      </div>
      <div class="PricingSection-concurrency">
        {{concurrency-picker plan='basic' changed="concurrencyChanged"}}
      </div>
      <div class="PricingSection-diffs"><strong>{{format-number numVisualDiffsBasic}}</strong> visual diffs</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> users</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> private repos</div>
      <div class="PricingSection-infoItem"><strong>1 month</strong> image storage</div>
      <br>
      <div class="PricingSection-cta">
        {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=basicPlan price=basicPrice planName=basicPlanName}}
      </div>
    </div>
  </div>{{! no spaces because inline-block }}<div class="PricingSection-bucket PricingSection-bucket--promoted">
    <div class="PricingSection-title PricingSection-title--promoted">Pro</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong>{{format-currency proPrice precision=0}}</strong> per month
      </div>
      <div class="PricingSection-concurrency">
        {{concurrency-picker plan='pro' changed="concurrencyChanged"}}
      </div>
      <div class="PricingSection-diffs"><strong>{{format-number numVisualDiffsPro}}</strong> visual diffs</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> users</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> private repos</div>
      <div class="PricingSection-infoItem"><strong>3 months</strong> image storage</div>
      <br>
      <div class="PricingSection-cta">
        {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=proPlan price=proPrice planName=proPlanName}}
      </div>
    </div>
    <div class="PricingSection-title PricingSection-title--small">Best starter for teams</div>
  </div>{{! no spaces because inline-block }}<div class="PricingSection-bucket">
    <div class="PricingSection-title">Enterprise</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong>{{format-currency enterprisePrice precision=0}}</strong> per month
      </div>
      <div class="PricingSection-concurrency">
        {{concurrency-picker plan='enterprise' changed="concurrencyChanged"}}
      </div>
      <div class="PricingSection-diffs"><strong>Unlimited</strong> visual diffs</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> users</div>
      <div class="PricingSection-infoItem"><strong>Unlimited</strong> private repos</div>
      <div class="PricingSection-infoItem"><strong>6 months</strong> image storage</div>
    <div class="PricingSection-infoItem"><strong class="u-text-dashed-underline hint--top hint--centered hint--rounded" data-hint="Enterprise plans come with dedicated
infrastructure set up for your organization
to get the fastest builds possible.">Priority builds {{unbound fa-icon "fa-question-circle"}}</strong></div>
      <div class="PricingSection-cta">
        <a href="mailto:team@percy.io?subject=Request for Percy Enterprise" class="Button">Contact Us</a>
      </div>
    </div>
  </div>
</div>
