<div class="row u-text-center">
  {{#with subscriptionService.PLANS.free as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem">
          <strong>
            Best-effort processing
            <span class="hint hint--centered hint--top"
  data-hint="Free builds run at lower priority than paying builds,
and they can only use 2 parallel workers. Free builds
might be slow to start, especially at peak hours.">
              {{fa-icon "info-circle"}}
            </span>
          </strong>
        </div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
      </div>
      {{#if (not-eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-cta">
          {{#unless session.isAuthenticated}}
            <a href="/" class="Button">
              Try Percy &raquo;
            </a>
          {{/unless}}
        </div>
      {{/if}}
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  {{#with subscriptionService.PLANS.small as |plan|}}
    <div class="PricingSection-bucket PricingSection-bucket--promoted">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  {{#with subscriptionService.PLANS.medium as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  {{#with subscriptionService.PLANS.large as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
</div>
<div class="row u-text-center">
  {{#with subscriptionService.PLANS.pro as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  {{#with subscriptionService.PLANS.premium as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  {{#with subscriptionService.PLANS.premiumXl as |plan|}}
    <div class="PricingSection-bucket">
      <div class="PricingSection-title">{{plan.name}}</div>
      <div class="PricingSection-bucketBody">
        <div class="PricingSection-price">
          <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
        </div>
        <div class="PricingSection-diffs">{{format-number plan.numDiffs}} visual diffs</div>
        <hr>
        <div class="PricingSection-infoItem"><strong>{{plan.numWorkersTitle}}</strong></div>
        <div class="PricingSection-infoItem">{{plan.numProjectsTitle}}</div>
        {{!-- <div class="PricingSection-infoItem">{{plan.numUsersTitle}}</div> --}}
        <div class="PricingSection-infoItem">{{plan.historyLimitTitle}}</div>
        {{#if (not-eq currentSubscription.plan plan.id)}}
          <br>
          <div class="PricingSection-cta">
            {{stripe-checkout
              text=checkoutText
              plan=plan.id
              price=plan.price
              planName=plan.name
            }}
          </div>
        {{/if}}
      </div>
      {{#if (eq currentSubscription.plan plan.id)}}
        <div class="PricingSection-title PricingSection-title--small">Current plan</div>
      {{/if}}
    </div>
  {{/with}}
  <div class="PricingSection-bucket">
    <div class="PricingSection-title">Enterprise</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong>Custom</strong>
      </div>
      <div class="PricingSection-diffs">&nbsp;</div>
      <hr>
      <strong>Special request?</strong> We would be happy to help! <a href="mailto:hello@percy.io?subject=Percy custom plan">Contact us</a> for a demo or a custom plan.
      <br>
      <br>
      <div class="PricingSection-cta">
        <a class="Button" href="mailto:hello@percy.io?subject=Percy custom plan">contact us</a>
      </div>
    </div>
  </div>
</div>
