<div class="row u-text-center">
  {{#if showJumpToBilling}}
    {{organizations/jump-to-billing hide=(action "hideModal")}}
  {{/if}}
  {{#pricing-bucket plan=subscriptionData.PLANS.[1] as |bucket|}}
    <div class="PricingSection-title">{{bucket.plan.name}}</div>
    <div class="PricingSection-price">
      <strong>${{bucket.plan.monthlyPrice}}</strong> / month
    </div>
    <hr>
    <div class="PricingSection-numTeamMembers">{{bucket.plan.numTeamMembersTitle}}</div>
    <div class="PricingSection-diffs">{{format-number bucket.plan.numDiffs}} visual validations included</div>
    <div class="PricingSection-infoItem">${{bucket.plan.extraDiffPrice}} / extra visual validation</div>
    <div class="PricingSection-numWorkers"><br>{{bucket.plan.numWorkersTitle}}</div>
    <div class="PricingSection-infoItem">Awesome support</div>
    <div class="PricingSection-infoItem">Unlimited projects</div>
    <div class="PricingSection-infoItem">{{bucket.plan.historyLimitTitle}}</div>
    {{#if (eq currentSubscription.plan bucket.plan.id)}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  {{/pricing-bucket}}
  {{#pricing-bucket plan=subscriptionData.PLANS.[2] as |bucket|}}
    <div class="PricingSection-title">{{bucket.plan.name}}</div>
    <div class="PricingSection-price">
      <strong>${{bucket.plan.monthlyPrice}}</strong> / month
    </div>
    <hr>
    <div class="PricingSection-numTeamMembers">{{bucket.plan.numTeamMembersTitle}}</div>
    <div class="PricingSection-diffs">{{format-number bucket.plan.numDiffs}} visual validations included</div>
    <div class="PricingSection-infoItem">${{bucket.plan.extraDiffPrice}} / extra visual validation</div>
    <div class="PricingSection-numWorkers"><br>
      {{bucket.plan.numWorkersTitle}}
      <span class="hint hint--centered hint--top"
  aria-label="Every plan comes with Percy's lightning-fast,
custom rendering infrastructure. We dedicate a
ton of concurrent renderers to render your pages as
fast as possible, because we believe speed is
key to happy visual testing.

Most Percy builds finish in under 2 minutes.">
        {{fa-icon "info-circle"}}
      </span>
    </div>
    <div class="PricingSection-infoItem">Awesome support</div>
    <div class="PricingSection-infoItem">Unlimited projects</div>
    <div class="PricingSection-infoItem">{{bucket.plan.historyLimitTitle}}</div>
    {{#if (eq currentSubscription.plan bucket.plan.id)}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  {{/pricing-bucket}}
  {{#pricing-bucket plan=subscriptionData.PLANS.[3] as |bucket|}}
    <div class="PricingSection-title">{{bucket.plan.name}}</div>
    <div class="PricingSection-price">
      <strong>${{bucket.plan.monthlyPrice}}</strong> / month
    </div>
    {{!-- <div class="PricingSection-annualMonthlyPrice">${{format-number bucket.plan.annualMonthlyPrice}} if paid annually</div> --}}
    <hr>
    <div class="PricingSection-numTeamMembers">{{bucket.plan.numTeamMembersTitle}}</div>
    <div class="PricingSection-diffs">{{format-number bucket.plan.numDiffs}} visual validations included</div>
    <div class="PricingSection-infoItem">${{bucket.plan.extraDiffPrice}} / extra visual validation</div>
    <div class="PricingSection-numWorkers"><br>{{bucket.plan.numWorkersTitle}}</div>
    <div class="PricingSection-infoItem">Awesome support</div>
    <div class="PricingSection-infoItem">Unlimited projects</div>
    <div class="PricingSection-infoItem">{{bucket.plan.historyLimitTitle}}</div>
    {{#if (eq currentSubscription.plan bucket.plan.id)}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  {{/pricing-bucket}}
  {{#pricing-bucket}}
    <div class="PricingSection-title">Enterprise</div>
    <div class="PricingSection-price">
      <strong style="font-size: 150%">{{#link-to "enterprise"}}Contact us{{/link-to}}</strong>
      <br>Starting at<br>
      <span style="font-weight: bold">$4500</span> / mo
    </div>
    <div class="PricingSection-diffs">Custom volume<br></div>
    <div class="PricingSection-infoItem" style="color: var(--dark-text-color);">
      <strong>Engineering guidance &amp; support</strong>
    </div>
    <div class="PricingSection-infoItem" style="margin-top: 20px; margin-bottom: 20px">
      With support for
      <img style="width: 80%; padding: 0" src="/images/third-party/github-enterprise.png">
    </div>
    <div class="PricingSection-numWorkers">
      Dedicated concurrent renderers
    </div>
    <div class="PricingSection-infoItem">Unlimited projects</div>
    <div class="PricingSection-infoItem">Custom history limits</div>
    <div class="PricingSection-infoItem">Custom terms</div>
    <div class="PricingSection-infoItem">99.9% Enterprise uptime SLA</div>
    <div class="PricingSection-infoItem">{{#link-to "enterprise"}}Let's chat!{{/link-to}}</div>
  {{/pricing-bucket}}
  {{#if session.isAuthenticated}}
    <p><a class="Button Button--primary" href="#" {{action "jumpToBilling"}}>Jump to organization for billing</a></p>
  {{else}}
    <p>
      <a class="Button Button--primary" href="#" {{action "startTrial"}}>Start Free Trial</a><br/><br/>
      <span class="PricingSection-infoItem">No credit card required. Free <strong>14-day free trial</strong>.</span>
    </p>
  {{/if}}
  <br/>
</div>

<div class="row">
  <div class="column one-half PricingSection-specialPlan">
    <p>
      <strong>Startup discount:</strong> If your organization makes less than $100K annual revenue, we want you to be able to use Percy too! <a href="mailto:hello@percy.io" {{action "showSupport"}}>Contact us</a> about our startup discount.
    </p>
  </div>
  <div class="column one-half PricingSection-specialPlan">
    <p>
      <strong>We love open source!</strong> If you have a not-for-profit, community-driven open source application, <a href="mailto:hello@percy.io" {{action "showSupport"}}>contact us</a> about our discounted plans.
    </p>
  </div>
</div>
