<div class="row u-text-center">
  <div class="PricingSection-bucket">
    <div class="PricingSection-title">{{smallPlanName}}</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong><span>$</span>{{format-number smallPlanPrice precision=0}}</strong> / month
      </div>
      <div class="PricingSection-diffs">{{format-number smallPlanDiffs}} visual diffs</div>
      <hr>
      <div class="PricingSection-infoItem">Unlimited users</div>
      <div class="PricingSection-infoItem">Unlimited private repos</div>
      <div class="PricingSection-infoItem">2 parallel workers</div>
      <div class="PricingSection-infoItem">7 day history</div>
      {{#unless session.data.authenticated.user.subscription.isSmall}}
        <br>
        <div class="PricingSection-cta">
          {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=smallPlan price=smallPlanPrice planName=smallPlanName}}
        </div>
      {{/unless}}
    </div>
    {{#if session.data.authenticated.user.subscription.isSmall}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  </div>{{! no spaces because inline-block }}<div class="PricingSection-bucket PricingSection-bucket--promoted">
    <div class="PricingSection-title">{{mediumPlanName}}</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong><span>$</span>{{format-number mediumPlanPrice precision=0}}</strong> / month
      </div>
      <div class="PricingSection-diffs">{{format-number mediumPlanDiffs}} visual diffs</div>
      <hr>
      <div class="PricingSection-infoItem">Unlimited users</div>
      <div class="PricingSection-infoItem">Unlimited private repos</div>
      <div class="PricingSection-infoItem">5 parallel workers</div>
      <div class="PricingSection-infoItem">30 day history</div>
      {{#unless session.data.authenticated.user.subscription.isMedium}}
        <br>
        <div class="PricingSection-cta">
          {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=mediumPlan price=mediumPlanPrice planName=mediumPlanName}}
        </div>
      {{/unless}}
    </div>
    {{#if session.data.authenticated.user.subscription.isMedium}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  </div>{{! no spaces because inline-block }}<div class="PricingSection-bucket">
    <div class="PricingSection-title">{{largePlanName}}</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong><span>$</span>{{format-number largePlanPrice precision=0}}</strong> / month
      </div>
      <div class="PricingSection-diffs">{{format-number largePlanDiffs}} visual diffs</div>
      <hr>
      <div class="PricingSection-infoItem">Unlimited users</div>
      <div class="PricingSection-infoItem">Unlimited private repos</div>
      <div class="PricingSection-infoItem">15 parallel workers</div>
      <div class="PricingSection-infoItem">90 day history</div>
      {{#unless session.data.authenticated.user.subscription.isLarge}}
        <br>
        <div class="PricingSection-cta">
          {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=largePlan price=largePlanPrice planName=largePlanName}}
        </div>
      {{/unless}}
    </div>
    {{#if session.data.authenticated.user.subscription.isLarge}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  </div>{{! no spaces because inline-block }}<div class="PricingSection-bucket">
    <div class="PricingSection-title">{{enterprisePlanName}}</div>
    <div class="PricingSection-bucketBody">
      <div class="PricingSection-price">
        <strong><span>$</span>{{format-number enterprisePlanPrice precision=0}}</strong> / month
      </div>
      <div class="PricingSection-diffs">{{format-number enterprisePlanDiffs}} visual diffs</div>
      <hr>
      <div class="PricingSection-infoItem">Unlimited users</div>
      <div class="PricingSection-infoItem">Unlimited private repos</div>
      <div class="PricingSection-infoItem">25 parallel workers</div>
      <div class="PricingSection-infoItem">90 day history</div>
      {{#unless session.data.authenticated.user.subscription.isEnterprise}}
        <br>
        <div class="PricingSection-cta">
          {{stripe-checkout forceAccountPage=forceAccountPage text=checkoutText plan=enterprisePlan price=enterprisePlanPrice planName=enterprisePlanName}}
        </div>
      {{/unless}}
    </div>
    {{#if session.data.authenticated.user.subscription.isEnterprise}}
      <div class="PricingSection-title PricingSection-title--small">Current plan</div>
    {{/if}}
  </div>
</div>
<div class="PricingSection-comparison u-text-center">
  <strong>Special request?</strong> We would be happy to help, just <a href="mailto:team@percy.io?subject=Percy custom plan">contact us</a> for a demo or custom plan.
</div>
<div class="container container--fixedWidth">
  <div class="row">
    <div class="one-half column">
      <div class="PricingSection-bucket PricingSection-bucket--secondaryPlan">
        <div class="PricingSection-bucketBody">
          <strong>Free plan:</strong> To try Percy you'll get 2 projects, 250 visual diffs/month, and 7 day history. No credit card required.
        </div>
      </div>
    </div>
    <div class="one-half column">
      <div class="PricingSection-bucket PricingSection-bucket--secondaryPlan">
        <div class="PricingSection-bucketBody">
          <strong>Micro plan:</strong> We offer a micro plan for $9/month with 2 projects, 750 visual diffs/month, and 7 day history.
          {{#unless session.data.authenticated.user.subscription.isMicro}}
            {{stripe-checkout tagName='a' href='#' text='Sign Up' plan=microPlan price=microPlanPrice planName=microPlanName}}.
          {{/unless}}
        </div>
        {{#if session.data.authenticated.user.subscription.isMicro}}
          <div class="PricingSection-title PricingSection-title--small">Current plan</div>
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="PricingSection-comparison u-text-center">
  <em><strong>Compared to manual QA</strong>, the average cost of two days of visual bug fixing by one engineer is over $1,000!<br>Automated visual testing can save you valuable engineering time finding and catching visual bugs before they reach your users.</em>
</div>
