<div class="container container--fixedWidth">
  <div class="container container--forContent ProjectContainer">
    <a {{action "refresh"}} href="#" class="Button Button--withLeftIcon u-pull-right">
      {{#if isRefreshing}}
        {{fa-icon "refresh" classNames="fa--left fa-spin"}}
      {{else}}
        {{fa-icon "refresh" classNames="fa--left"}}
      {{/if}}
      Refresh
    </a>
    {{#link-to "organization.project.settings" project.organization.slug project.slug classNames="Button  u-pull-right"}}
      Settings
    {{/link-to}}
    <header>
      <h3>
        {{project.name}}
        {{#if project.isDisabled}}
          <span class="ProjectContainer-state">(disabled)</span>
        {{/if}}
      </h3>
      {{#if project.organization.isGithubIntegrated}}
        {{#if project.repo}}
          Linked to <a href="{{project.repo.htmlUrl}}">{{project.repo.slug}}</a> {{fa-icon "github"}}
        {{/if}}
      {{/if}}
    </header>
    {{#if project.builds.isPending}}
      {{loading-page}}
    {{else}}
      {{#if project.builds}}
        <div>
          {{#each project.builds as |build|}}
            {{build-card build=build}}
          {{/each}}
        </div>
      {{else}}
        {{#if project.isEnabled}}
          <div class="Alert Alert--warning">
            <strong>Waiting for first snapshot:</strong> complete setup below to generate first snapshot.
          </div>
          <h5>Getting started</h5>
          <p>Here's an overview of how to get started:</p>

          <ol>
          <li>Set <code>PERCY_TOKEN</code> and <code>PERCY_PROJECT</code> environment variables in your CI environment.</li>
          <li>Integrate Percy's client library to take snapshots in your test suite.</li>
          <li>Run your tests in CI or create a GitHub PR.</li>
          </ol>

          <p>
            {{#link-to "docs.index" class="Button"}}View setup documentation{{/link-to}}
          </p>

          <h5>Environment variables</h5>
          {{projects/env-vars project=project}}

          <h5>Just want to see a demo?</h5> 
          {{projects/quickstart-code project=project}}
        {{else}}
          <p>No builds yet, and this project is disabled.</p>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>
