{{#each projects as |project|}}
  {{project-card project=project}}
  {{#if project.isEnabled}}
    <div class="ProjectsList-recentBuilds">
      {{#if project.recentBuilds.isPending}}
        {{loading-page}}
      {{else}}
        {{#if project.recentBuilds}}
          {{#each project.recentBuilds as |build|}}
            {{build-card build=build}}
          {{/each}}
        {{else}}
          <div class="ProjectsList-empty">
            <p>
              Waiting for first Snapshot.&nbsp;
              {{#link-to "organization.project.index" project.organization.slug project.slug class="Button"}}Get started{{/link-to}}
            </p>
          </div>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{/each}}
