<table class="u-full-width">
  {{#each repo in repos}}
    <tr {{bind-attr class=":RepoList-repo repo.isEnabled:RepoList-repo--enabled"}}>
      <td>{{#link-to "repo.index" repo.namespace.id repo.name}}{{repo.slug}}{{/link-to}}</td>
      <td class="RepoList-actions">
        {{#link-to "repo.settings" repo.name classNames="RepoList-repoSettings"}}{{unbound fa-icon "cog" classNames="fa--left"}}{{/link-to}}
        {{#if repo.isEnabled}}
          {{#link-to "repo.index" repo.namespace.id repo.name classNames="Button Button--primary"}}Go &raquo;{{/link-to}}
        {{else}}
          {{repo-enable repo=repo text="Enable" enableRepo="enableRepo"}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
<div class="u-text-right">
  <div>{{login-extended-button}}</div>
  <div class="u-text-small">
    Last synced private repos:
    {{#if session.secure.user.lastPrivateSyncedAt}}
      {{ago session.secure.user.lastPrivateSyncedAt}}
    {{else}}
      never
    {{/if}}
  </div>
</div>
