<fieldset>
  <label>
    <input type="radio" name="repo_diff_base" value="automatic" {{bind-attr checked=repo.isAutomaticDiffBase}} {{action 'setAutomatic'}}>
    <span class="label-body">
      Automatic diff base (default)
    </span>
    <p>
      Automatically use the the last build from the <code>master</code> branch as the baseline for diffs.
    </p>
  </label>
  <label>
    <input type="radio" name="repo_diff_base" value="manual" {{bind-attr checked=repo.isManualDiffBase}} {{action 'setManual'}}>
    <span class="label-body">Manual diff base</span>
    <p>
      Use the last <em style="color: green">{{fa-icon 'fa-thumbs-up'}} Approved</em> build from the <code>master</code> branch as the baseline for diffs.
    </p>
  </label>
</fieldset>