<table class="u-full-width">
  {{#each repos as |repo|}}
    <tr class="RepoList-repo {{if repo.isEnabled 'RepoList-repo--enabled'}}">
      <td>{{#link-to "repo.index" repo.namespace.id repo.name}}{{repo.slug}}{{/link-to}}</td>
      <td class="RepoList-actions">
        {{#link-to "repo.settings" repo.name classNames="RepoList-repoSettings"}}{{fa-icon "cog" classNames="fa--left"}}{{/link-to}}
        {{#if repo.isEnabled}}
          {{#link-to "repo.index" repo.namespace.id repo.name classNames="Button Button--primary"}}Go &raquo;{{/link-to}}
        {{else}}
          {{repo-enable repo=repo text="Enable" enableRepo="enableRepo"}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
</table>
