{{#if snapshot.isApproved}}
  <div class="status-pill {{if snapshot.isUnchanged 'is-unchanged' 'is-approved'}}" data-test-snapshot-approved-pill>
    {{#if snapshot.isUnchanged}}
      No Changes
    {{else}}
      Approved
    {{/if}}
  </div>
{{else}}
  <button type="button" class="btn btn-success {{if isLoading 'is-loading'}}" {{action "approveSnapshot"}} data-test-SnapshotViewerHeader-approve>Approve</button>
{{/if}}
