<header class="SnapshotViewer-header sticky grid gap-4 z-1 px-2 py-1 bg-gray-000 border-top border-bottom border-gray-100 {{if fullscreen 'SnapshotViewer-header-full position-fixed vw-full z-1'}}" data-test-SnapshotViewer-header>
  <div class="flex align-center truncate">

    <figure class="svg-container mr-1" data-test-SnapshotViewer-comparisonIcon>
      {{comparison-icon
        noComparisonsHaveDiffs=noComparisonsHaveDiffs
      }}
    </figure>

    <div class="Viewer-header-title SnapshotViewer-title c-default truncate text-weight-bold" title="{{snapshot.name}}" data-test-SnapshotViewer-title>{{snapshot.name}}</div>
  </div>

  {{#if fullscreen}}
    {{comparison-mode-switcher
      comparison=selectedComparison
      updateComparisonMode=updateComparisonMode
      comparisonMode=comparisonMode
      data-test-SnapshotViewer-comparison-mode-switcher=true
    }}
  {{/if}}

  <div class="flex justify-end">
    <div class="btn-toolbar">
      <div class="btn-group">
        <div class="dropdown {{if dropdownVisible 'is-visible'}}" {{action 'closeDropdown' bubbles=false}}>
          <button type="button" class="btn btn-square dropdown-toggle" {{action 'toggleDropdownVisibility' bubbles=false}} data-test-snapshot-header-dropdown-toggle>
            {{inline-svg "blue-dropdown-icon"}}
          </button>
          <div class="dropdown-menu" data-test-snapshot-header-dropdown-pane>
            <ul class="list-reset">
              {{#unless (or allComparisonsHaveDiffs noComparisonsHaveDiffs)}}
                <li class="dropdown-menu-list-item flex justify-between align-center c-pointer f6 text-weight-semibold border-bottom border-gray-000 py-1 pl-2 pr-1" {{action 'toggleFilteredComparisons' bubbles=false}} data-test-toggle-widths-option>
                  {{#if isShowingFilteredComparisons}}
                    <span>Show all widths</span>
                    {{inline-svg "width-icon"}}
                    {{else}}
                    <span>Show only widths with diffs</span>
                    {{inline-svg "tiny-comparison-icon"}}

                  {{/if}}
                </li>
              {{/unless}}
              <li class="dropdown-menu-list-item c-pointer f6 text-weight-semibold py-1 pl-2 pr-1">
                {{#copy-button
                  class="btn-icon-only w-full flex justify-between align-center"
                  clipboardText=(generate-fullscreen-snapshot-url snapshot.id selectedWidth comparisonMode fullscreen)
                  success=(action "onCopySnapshotUrlToClipboard")
                }}
                  <span>Copy snapshot URL</span>
                  {{inline-svg "link-icon"}}
                {{/copy-button}}
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="btn-group btn-group-alt">
        {{comparison-switcher
          comparisons=(if isShowingAllComparisons snapshot.comparisons comparisonsWithDiffs)
          buildWidths=buildWidths
          selectedWidth=selectedWidth
          updateSelectedWidth=updateSelectedWidth
          data-test-SnapshotViewer-widthSwitcher=true
        }}
      </div>

      <div class="btn-group" role="group" aria-label="Second Group">
        <button type="button" class="ToggleFullViewButton btn btn-square {{if fullscreen 'minimize-snapshot' 'maximize-snapshot'}}"
          {{action toggleViewMode}} data-test-SnapshotViewer-toggleFullScreen>
          <figure class="svg-container">
            {{#if fullscreen}}
              {{inline-svg "minimize-icon"}}
            {{else}}
              {{inline-svg "maximize-icon"}}
            {{/if}}
          </figure>
        </button>
      </div>

      {{#if (and (is-admin) isBuildFinished)}}
        <div class="btn-group" data-test-snapshot-approval-button>
          {{snapshot-approval-button
            snapshot=snapshot
            createReview=createReview
          }}
        </div>
      {{/if}}

    </div>
  </div>
</header>
