<div class="Viewer-header SnapshotViewer-header row" {{action "selectChild"}}>
  <div class="Viewer-header-title SnapshotViewer-title u-hide-on-mobile" title="{{snapshot.name}}">
    <a href="{{snapshotUrl}}">{{snapshot.name}}</a>
  </div>
  {{comparison-switcher
    comparisons=snapshot.comparisons
    buildWidths=buildWidths
    snapshotSelectedWidth=snapshotSelectedWidth
    updateSelectedWidth=(action 'updateSelectedWidth')
    isMultiColumnMode=isMultiColumnMode
  }}
  <button
    class="ToggleFullViewButton Button u-pull-right"
    {{action 'showSnapshotFullModalTriggered' snapshot.id snapshotSelectedWidth}}
  >
      {{fa-icon 'expand'}}
  </button>
</div>
{{#if isExpanded}}
  {{#if selectedComparison}}
    {{comparison-viewer
      comparison=selectedComparison
      snapshotSelectedWidth=snapshotSelectedWidth
      isDefaultExpanded=isDefaultExpanded
      showNoDiffSnapshot=showNoDiffSnapshot
    }}
  {{else}}
    <div class="SnapshotViewer-noComparison">
      No snapshot taken at {{snapshotSelectedWidth}}px.
    </div>
  {{/if}}
{{/if}}
