{{snapshot-viewer-header
  fullscreen=true
  snapshot=snapshot
  buildWidths=buildWidths
  selectedWidth=snapshotSelectedWidth
  selectedComparison=selectedComparison
  hasComparisonAtSelectedWidth=hasComparisonAtSelectedWidth
  toggleViewMode=(action closeSnapshotFullModal build.id snapshot.id)
  updateSelectedWidth=(action "updateSelectedWidth")

  updateComparisonMode=updateComparisonMode
  comparisonMode=comparisonMode
  createReview=(action createReview 'approve' build)
}}

<div class="SnapshotViewerFull-body">
  {{#if selectedComparison}}
    {{comparison-viewer-full
      comparison=selectedComparison
      comparisonMode=comparisonMode
      snapshotSelectedWidth=snapshotSelectedWidth
      cycleComparisonMode='cycleComparisonMode'
      data-test-SnapshotViewerFull-comparison-viewer=true
    }}
  {{else}}
    <div class="SnapshotViewerFull-noComparison">
      <div>
        {{fa-icon "remove" class="LargeXIcon"}}
        No snapshot taken at {{snapshotSelectedWidth}}px.
      </div>
    </div>
  {{/if}}
</div>