<div class="Viewer-header SnapshotViewer-header" {{action "selectChild"}}>
  <a class="Viewer-header-title SnapshotViewer-title truncate" title="{{snapshot.name}}" href="{{snapshotUrl}}">{{snapshot.name}}</a>
  <div class="SnapshotViewer-header-controls">
    {{comparison-switcher
      comparisons=snapshot.comparisons
      buildWidths=buildWidths
      snapshotSelectedWidth=snapshotSelectedWidth
      updateSelectedWidth=(action 'updateSelectedWidth')
      isMultiColumnMode=isMultiColumnMode
    }}
    <button
      class="ToggleFullViewButton Button"
      {{action 'showSnapshotFullModalTriggered' snapshot.id snapshotSelectedWidth}}
    >
        {{fa-icon 'expand'}}
    </button>
  </div>
</div>
{{#if isExpanded}}
  {{#if selectedComparison}}
    {{comparison-viewer
      comparison=selectedComparison
      snapshotSelectedWidth=snapshotSelectedWidth
      isDefaultExpanded=isDefaultExpanded
      showNoDiffSnapshot=showNoDiffSnapshot
    }}
  {{else}}
    <div class="SnapshotViewer-noComparison">
      No snapshot taken at {{snapshotSelectedWidth}}px.
    </div>
  {{/if}}
{{/if}}
