<img src="{{img}}" alt="team-member-photo" class="team-member-photo">
<div class="social-toolbar flex justify-center">
  <div class="social-toolbar-items flex align-center px-1">
    {{#if social-twitter}}
      <a href="http://www.twitter.com/{{social-twitter}}" class="social-toolbar-item">
        {{inline-svg "twitter-icon"}}
      </a>
    {{/if}}
    {{#if social-instagram}}
      <a href="http://www.instagram.com/{{social-instagram}}" class="social-toolbar-item">
        {{inline-svg "instagram-icon"}}
      </a>
    {{/if}}
    {{#if social-github}}
      <a href="http://www.github.com/{{social-github}}" class="social-toolbar-item">
        {{inline-svg "github-icon"}}
      </a>
    {{/if}}
    {{#if social-linkedin}}
      <a href="http://www.linkedin.com/in/{{social-linkedin}}" class="social-toolbar-item">
        {{inline-svg "linkedin-icon"}}
      </a>
    {{/if}}
    {{#if social-photos}}
      <a href="{{social-photos}}" class="social-toolbar-item">
        {{inline-svg "photos-icon"}}
      </a>
    {{/if}}
  </div>
</div>
<div class="team-member-name f4 text-weight-semibold text-center">{{name}}</div>
<div class="team-member-title text-light text-center mb-1">{{title}}</div>
<div class="label-container pr-4">
  {{#each labels as |label|}}
    <div class="label">{{label}}</div>
  {{/each}}
</div>
