{{#if showPlaceholder}}
  <div class="UserAvatar-placeholder" style="width: {{width}}px; height: {{height}}px">
    {{fa-icon "user"}}
  </div>
{{else}}
  {{#if linked}}
    <a href="{{href}}">
      <img width="{{width}}" height="{{height}}" src="{{user.avatarUrl}}&s={{width}}">
    </a>
  {{else}}
    <img width="{{width}}" height="{{height}}" src="{{user.avatarUrl}}&s={{width}}">
  {{/if}}
{{/if}}
