<div class="container container--fixedWidth container--forContent">
  <div class="row">
    <div class="three columns">
      <div class="Panel">
        <div class="Panel-section Panel-header">
          {{model.name}}
        </div>
        <div class="Panel-section Panel-nav">
          <ul>
            <li>
              {{#link-to "organizations.organization.settings" model.slug classNames="Button Button--nav Button--withLeftIcon"}}
                {{fa-icon "cog" classNames="fa--left"}}
                Settings
              {{/link-to}}
            </li>
            <li>
              {{#link-to "organizations.organization.users" model.slug classNames="Button Button--nav Button--withLeftIcon"}}
                {{fa-icon "users" classNames="fa--left"}}
                Users
              {{/link-to}}
            </li>
            <li>
              {{#link-to "organizations.organization.billing" model.slug classNames="Button Button--nav Button--withLeftIcon"}}
                {{fa-icon "credit-card" classNames="fa--left"}}
                Billing
              {{/link-to}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="nine columns">
      {{outlet}}
    </div>
  </div>
</div>
