{{fixed-top-header useNewProjectsHeader=true currentOrganization=model.organization}}
<div class="container container--fixedWidth">
  <div class="container container--forContent">
    {{#link-to "organization.project.index" model.organization.slug model.slug classNames="Button Button--primary Button--withLeftIcon u-pull-right"}}
      {{fa-icon "arrow-left" classNames="fa--left"}}
      Back
    {{/link-to}}
    <h3>{{model.name}}</h3>

    <h4>Settings</h4>

    <hr>
    <h4>Link to GitHub repository</h4>
    {{projects/github-integrator project=model}}
  </div>
</div>
{{main-footer}}