<label for={{concat type "-" property}}>{{title}}</label>
<input
  type={{type}}
  class="FormFieldsInput {{if fieldErrors 'error'}}"
  id={{concat type "-" property}}
  value={{get changeset property}}
  oninput={{action (mut (get changeset property)) value="target.value"}}
  onblur={{action validateProperty}}
>
{{#if fieldErrors}}
  <ul>
    {{#each (get fieldErrors "validation") as |message|}}
      <li>{{message}}</li>
    {{/each}}
  </ul>
{{/if}}