<div class="container container--forContent">
  <style>
    .TruncatedCommitMessage {
      max-width: 500px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    @media (max-width: 1200px) {
      .TruncatedCommitMessage {
        max-width: 200px;
      }
    }
  </style>
  <h5>
    {{#link-to "owner.index" model.ownerLogin}}{{model.ownerLogin}}{{/link-to}}/{{model.name}}
    <a href="{{model.htmlUrl}}">{{unbound fa-icon "github"}}</a>

    {{#link-to "repo.settings" model classNames="Button Button--withLeftIcon u-pull-right"}}
      {{unbound fa-icon "cog" classNames="fa--left"}}
      Settings
    {{/link-to}}
  </h5>
  <table class="u-full-width">
    <tr>
      <th>Build</th>
      <th>State</th>
      <th>Commit</th>
      <th>Committed By</th>
      <th>Message</th>
      <th>Committed At</th>
    </tr>
    {{#each build in model.builds}}
      <tr>
        <td><strong>{{#link-to "builds.build" model.ownerLogin model.name build.id}}Build #{{build.buildNumber}}{{/link-to}}</strong><br></td>
        <td>
          {{build.state}}
          {{#if build.isPending}}
            {{fa-icon 'fa-spinner fa-pulse'}}
          {{/if}}
          {{#if build.isProcessing}}
            {{fa-icon 'fa-spinner fa-pulse'}}
          {{/if}}
        </td>
        <td><a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a></td>
        <td>{{build.commit.authorName}}</td>
        <td class="TruncatedCommitMessage">{{build.commit.message}}</td>
        <td>{{build.commit.committedAt}}</td>
      </tr>
    {{/each}}
  </table>
</div>
