<div class="container container--fixedWidth container--forContent RepoContainer">
  <h5>
    {{#link-to "namespace.index" model.namespace.id}}{{model.namespace.id}}{{/link-to}}/{{model.name}}
    <a href="{{model.htmlUrl}}">{{fa-icon "github"}}</a>
    {{#if model.isDisabled}}
      <span class="RepoContainer-repoState">(disabled)</span>
    {{/if}}

    {{#link-to "repo.settings" model.name classNames="Button Button--withLeftIcon u-pull-right"}}
      {{fa-icon "cog" classNames="fa--left"}}
      Settings
    {{/link-to}}
  </h5>
  <div>
    {{#each model.builds as |build|}}
      {{build-card build=build navigateToBuild="navigateToBuild"}}
    {{/each}}
  </div>
  {{#unless model.builds}}
    <p>No builds yet.</p>
  {{/unless}}
  {{#unless model.builds}}
    {{#if model.isEnabled}}
    <div class="Alert Alert--warning" style="max-width: 700px; margin: 0 auto">
      <h5>Welcome! Waiting for first build...</h5>
      <p>
        Please see the {{#link-to "docs.index"}}documentation{{/link-to}} for how to configure your app—it should only take a few minutes. Once you push your first build, it will show up here.
      </p>
      <p>
        Here is the <strong>write-only API key</strong> for <strong>{{model.slug}}</strong>, you'll need this to authenticate to Percy:
      </p>
      {{#with model.writeOnlyToken.token as |token|}}{{#code-block}}{{token}}{{/code-block}}{{/with}}
    </div>
    {{/if}}
  {{/unless}}
</div>
