<div class="container container--forContent">
  <h5>
    {{#link-to "owner.index" model.ownerLogin}}{{model.ownerLogin}}{{/link-to}}/{{model.name}} <a href="{{model.htmlUrl}}">{{unbound fa-icon "github"}}</a>
  </h5>
  <table class="u-full-width">
    <tr>
      <th>Build</th>
      <th>State</th>
      <th>Commit</th>
      <th>Committed By</th>
      <th>Message</th>
      <th>Committed At</th>
    </tr>
    {{#each build in model.builds}}
      <tr>
        <td><strong>{{#link-to "builds.build" model.ownerLogin model.name build.id}}Build #{{build.id}}{{/link-to}}</strong><br></td>
        <td>{{build.state}}</td>
        <td>{{build.commit.shaShort}}</td>
        <td>{{build.commit.authorName}}</td>
        <td>{{build.commit.message}}</td>
        <td>{{build.commit.committedAt}}</td>
      </tr>
    {{/each}}
  </table>
</div>
