<div class="Panel">
</div>
<div class="container container--forContent container--withPanel">
  <h4>{{model.slug}} {{unbound fa-icon "github"}}</h4>
  <table class="u-full-width">
    <tr>
      <th>Build</th>
      <th>Commit</th>
      <th>Committed By</th>
      <th>Message</th>
      <th>Committed At</th>
    </tr>
    {{#each build in model.builds}}
      <tr>
        <td><strong>{{#link-to "builds.build" model.ownerLogin model.name build.id}}Build #{{build.id}}{{/link-to}}</strong><br></td>
        <td>{{build.commit.shaShort}}</td>
        <td>{{build.commit.authorName}}</td>
        <td>{{build.commit.message}}</td>
        <td>{{build.commit.committedAt}}</td>
      </tr>
    {{/each}}
  </table>
</div>
