<div class="container container--forContent RepoContainer">
  <h5>
    {{#link-to "owner.index" model.ownerLogin}}{{model.ownerLogin}}{{/link-to}}/{{model.name}}
    <a href="{{model.htmlUrl}}">{{unbound fa-icon "github"}}</a>
    {{#if model.isDisabled}}
      <span class="RepoState">(disabled)</span>
    {{/if}}

    {{#link-to "repo.settings" model.name classNames="Button Button--withLeftIcon u-pull-right"}}
      {{unbound fa-icon "cog" classNames="fa--left"}}
      Settings
    {{/link-to}}
  </h5>
  <table class="u-full-width">
    <tr>
      <th>Build</th>
      <th>State</th>
      <th>Commit</th>
      <th>Committed By</th>
      <th>Message</th>
      <th>Committed At</th>
    </tr>
    {{#each build in model.builds}}
      <tr>
        <td>
          <strong>{{#link-to "builds.build" model.ownerLogin model.name build.id}}Build #{{build.buildNumber}}{{/link-to}}</strong><br>
        </td>
        <td>
          {{build.state}}
          {{#if build.isPending}}
            {{fa-icon 'fa-spinner fa-pulse'}}
          {{/if}}
          {{#if build.isProcessing}}
            {{fa-icon 'fa-spinner fa-pulse'}}
          {{/if}}
        </td>
        <td><a href="{{build.repo.htmlUrl}}/commit/{{build.commit.sha}}">{{build.commit.shaShort}}</a></td>
        <td>{{build.commit.authorName}}</td>
        <td class="TruncatedCommitMessage">{{build.commit.message}}</td>
        <td>{{build.commit.committedAt}}</td>
      </tr>
    {{/each}}
    {{#unless model.builds}}
      <tr>
        <td colspan="6">No builds yet.</td>
      </tr>
    {{/unless}}
  </table>
  {{#unless model.builds}}
    {{#if model.isEnabled}}
    <div class="Alert Alert--warning" style="max-width: 700px; margin: 0 auto">
      <h5>Welcome! Waiting for first build...</h5>
      <p>
        Please see the {{#link-to "docs.index"}}documentation{{/link-to}} for how to configure your app—it should only take a few minutes. Once you push your first build, it will show up here.
      </p>
    </div>
    {{/if}}
  {{/unless}}
</div>
