<div class="container container--fixedWidth container--forContent RepoContainer">
  <h3>
    {{#link-to "namespace.index" model.namespace.id}}{{model.namespace.id}}{{/link-to}}
    / <a href="#" {{action "refresh"}}>{{model.name}}</a>

    <a href="{{model.htmlUrl}}">{{fa-icon "github"}}</a>
    {{#if model.isDisabled}}
      <span class="RepoContainer-repoState">(disabled)</span>
    {{/if}}

    {{#link-to "repo.settings" model.name classNames="Button Button--withLeftIcon u-pull-right"}}
      {{fa-icon "cog" classNames="fa--left"}}
      Settings
    {{/link-to}}
  </h3>
  {{#if model.builds.isPending}}
    {{loading-page}}
  {{else}}
    {{#if model.builds}}
      <div>
        {{#each model.builds as |build|}}
          {{build-card build=build navigateToBuild="navigateToBuild"}}
        {{/each}}
      </div>
    {{else}}
      {{#if model.isEnabled}}
        <div class="Alert Alert--warning" style="max-width: 700px; margin: 0 auto">
          <h5>Welcome! Waiting for first build...</h5>
          <p>
            Please see the {{#link-to "docs.index"}}documentation{{/link-to}} for how to configure your app—it should only take a few minutes. Once you push your first build, it will show up here.
          </p>
          <p>
            Here is the <strong>write-only API key</strong> for <strong>{{model.slug}}</strong>, you'll need this to authenticate to Percy:
          </p>
          {{#with model.writeOnlyToken.token as |token|}}{{#code-block}}{{token}}{{/code-block}}{{/with}}
        </div>
      {{else}}
        <p>No builds yet, and this repository is disabled.</p>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
{{main-footer}}