<div class="container container--forContent container--fixedWidth">
  <h5>
    {{#link-to "owner.index" model.ownerLogin}}{{model.ownerLogin}}{{/link-to}}/{{#link-to "repo.index" model.ownerLogin model.name}}{{model.name}}{{/link-to}} <a href="{{model.htmlUrl}}">{{unbound fa-icon "github"}}</a> Settings
  </h5>
  <h3>API keys</h3>
  <h4>Write-only key</h4>
  <pre><code>{{model.writeOnlyToken.token}}</code></pre>
  <p>
    This key only has access to create builds, snapshots, and upload resources. See the {{#link-to "docs"}}docs{{/link-to}} for how to set up client authentication for your app.
  </p>
</div>
