<div class="container container--forContent container--fixedWidth">
  <h5>
    {{#link-to "namespace.index" model.namespace.id}}{{model.namespace.id}}{{/link-to}}/{{#link-to "repo.index" model.namespace.id model.name}}{{model.name}}{{/link-to}}
    {{#if model.isDisabled}}
      <span class="RepoContainer-repoState">(disabled)</span>
    {{/if}}

    <a href="{{model.htmlUrl}}">{{unbound fa-icon "github"}}</a> Settings
  </h5>
  <h3>API keys</h3>
  <h4>Write-only key</h4>
  <pre><code>{{model.writeOnlyToken.token}}</code></pre>
  <p>
    This key only has access to create builds, snapshots, and upload resources to this repository. See the {{#link-to "docs"}}docs{{/link-to}} for how to set up client authentication for your app.
  </p>

  <h3>Diff base config</h3>
  {{repo-diff-base-settings repo=model}}

  <h3>Actions</h3>
  {{#if model.isEnabled}}
    {{repo-disable repo=model disableRepo="disableRepo" disabled=model.isNotCurrentUserOwner}}
    {{#if model.isNotCurrentUserOwner}}
      <p class="u-text-small">
        Repo can only disabled by its owner: <strong>@{{model.owner.login}}</strong>
      </p>
    {{/if}}
  {{else}}
    {{repo-enable repo=model isPrimary=true enableRepo="enableRepo"}}
  {{/if}}
</div>
