<div class="container container--forContent">
  {{approval-section build=model classes="u-pull-right"}}
  <h5>
    {{#link-to "namespace.index" model.repo.namespace.id}}{{model.repo.namespace.id}}{{/link-to}}/{{#link-to "repo.index" model.repo.namespace.id model.repo.name}}{{model.repo.name}}{{/link-to}} <a href="{{model.repo.htmlUrl}}">{{unbound fa-icon "github"}}</a> Build #{{model.buildNumber}}
  </h5>
  {{#if model.baseBuild}}
    <strong>Compared to:</strong>
    {{#link-to "builds.build" model.repo.namespace.id model.repo.name model.baseBuild.id}}Build #{{model.baseBuild.buildNumber}}{{/link-to}}
  {{else}}
    First build!
  {{/if}}
  <br>

  {{#if model.commit}}
    <strong>Commit:</strong>
    <a href="{{model.repo.htmlUrl}}/commit/{{model.commit.sha}}">{{model.commit.shaShort}}</a>
    <p>{{model.commit.message}}</p>
  {{/if}}

  {{#if model.comparisons.isPending}}
    {{loading-page}}
  {{else}}
    <h5>{{model.comparisons.length}} snapshots:</h5>
    {{comparison-list comparisons=model.comparisons}}
  {{/if}}
</div>
