<div class="Header Header--small">
  {{#link-to "repo.index" 'fotinakis' class="Button u-pull-right"}}
    Apps
  {{/link-to}}
  <div class="Header-logo">
    {{#link-to "index"}}
      <img src="/images/percy.svg" height="50">
    {{/link-to}}
  </div>
</div>
<div class="Panel">
</div>
<div class="container container--withPanel">
  <h4>{{repo.fullName}}: build #{{id}}</h4>
  {{#each comparison in comparisons}}
    <strong>Version:</strong> {{comparison.build.version}}<br>
    <strong>URL:</strong> {{comparison.baseResource.originalUrl}}<br>
    <div style="height: 3030px" class="row">
      {{pdiff-image-overlay pdiff=comparison.pdiff}}
    </div>
    <div class="row">
      {{pdiff-image-viewer pdiff=comparison.pdiff}}
    </div>
  {{/each}}
  <table class="u-full-width">
    <tr>
      <td>Initial commit of new fancy things</td>
      <td>a2b33c1 (master)</td>
      <td><a href="#">Mike Fotinakis</a></td>
      <td>Last updated 1 min ago</td>
    </tr>
  </table>
  <div class="DiffOverviewCard">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/diff.png">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/first.png">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/second.png">
  </div>
  <div class="DiffOverviewCard">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/diff.png">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/first.png">
    <img class="DiffOverviewCard-thumbnail" src="/images/prototype/second.png">
  </div>
</div>
