<div class="Panel">
</div>
<div class="container container--withPanel">
  <h4>{{repo.slug}}: build #{{id}}</h4>

  <h5>comparisons ({{comparisons.length}})</h5>
  {{#each comparison in comparisons}}
    <strong>Version:</strong> {{comparison.build.version}}<br>
    <strong>URL:</strong> {{comparison.baseResource.originalUrl}}<br>
    <div style="height: 3030px" class="row">
      {{pdiff-image-overlay pdiff=comparison.pdiff}}
    </div>
    <div class="row">
      {{pdiff-image-viewer pdiff=comparison.pdiff}}
    </div>
  {{/each}}

  <h5>resources ({{resources.length}})</h5>
  <table>
    {{#each resource in resources}}
      <tr>
        <td>
          <strong>isRoot</strong> {{resource.isRoot}}<br>
          <strong>pageUrl</strong> {{resource.pageUrl}}<br>
          <strong>resourceUrl</strong> {{resource.resourceUrl}}<br>
          <strong>mimetype</strong> {{resource.mimetype}}<br>
          <strong>sha</strong> {{resource.sha}}<br>
          <strong>createdAt</strong> {{resource.createdAt}}<br>
          <strong>updatedAt</strong> {{resource.updatedAt}}<br>
        </td>
        <td>
        {{#if resource.screenshots}}
          {{#each screenshot in resource.screenshots}}
            <img src={{unbound screenshot.image.url}} width="200">
          {{/each}}
        {{else}}
          No screenshots.
        {{/if}}
        </td>
      </tr>
    {{/each}}
  </table>
</div>
