<div class="container container--forContent BuildContainer">
  {{approval-section build=model classes="u-pull-right"}}
  <h5>
    {{#link-to "namespace.index" model.repo.namespace.id}}{{model.repo.namespace.id}}{{/link-to}}/{{#link-to "repo.index" model.repo.namespace.id model.repo.name}}{{model.repo.name}}{{/link-to}} <a href="{{model.repo.htmlUrl}}">{{unbound fa-icon "github"}}</a> Build #{{model.buildNumber}}
    {{build-state build=model}}
  </h5>

  {{build-duration build=model}} {{build-started build=model}}
  <br>
  {{#if model.commit}}
    <div class="u-text-small"><a href="{{model.repo.htmlUrl}}/commit/{{model.commit.sha}}">{{model.commit.shaShort}}</a> {{model.commit.message}}</div>
  {{/if}}
  {{#if model.baseBuild}}
    Compared {{model.branch}} → {{model.baseBuild.branch}} from {{#link-to "builds.build" model.repo.namespace.id model.repo.name model.baseBuild.id}}Build #{{model.baseBuild.buildNumber}}{{/link-to}}
  {{else}}
    {{#if build.isFinished}}
      First build! Nothing to compare to yet.
    {{/if}}
  {{/if}}

  <hr>

  {{#if model.isPending}}
    <div class="Alert Alert--warning">
      <strong>Waiting for snapshot uploads...</strong> This build has not finished receiving data from your CI service or client, <a href="javascript:location.reload()">refresh</a>?
      <br>
      If this has been pending for a long time, your client may have failed to upload all the data. This build can be safely ignored, it will not be used for visual diffs.
    </div>
  {{/if}}
  {{#if model.isProcessing}}
    <div class="Alert Alert--warning">
      <strong>Still working!</strong> This build has not finished processing, <a href="javascript:location.reload()">refresh</a>?
    </div>
  {{/if}}
  {{#if model.isFailed}}
    <div class="Alert Alert--error">
      <strong>Errored.</strong> Your CI service or client failed to correctly upload data. This build can be safely ignored, it will not be used for visual diffs. If these failures continue to happen, check your CI or client logs for failures.
    </div>
  {{/if}}

  {{#if model.comparisons.isPending}}
    {{loading-page}}
  {{else}}
    <h5>{{model.comparisons.length}} snapshots:</h5>
    {{comparison-list comparisons=model.comparisons}}
  {{/if}}
</div>
