<div class="container container--forContent">
  {{approval-section build=model classes="u-pull-right"}}
  <h5>
    {{#link-to "owner.index" model.repo.ownerLogin}}{{model.repo.ownerLogin}}{{/link-to}}/{{#link-to "repo.index" model.repo.ownerLogin model.repo.name}}{{model.repo.name}}{{/link-to}} <a href="{{model.repo.htmlUrl}}">{{unbound fa-icon "github"}}</a> Build #{{model.id}}
  </h5>
  <strong>Compared to build:</strong> {{#link-to "builds.build" model.repo.ownerLogin model.repo.name model.baseBuild.id}}Build #{{model.baseBuild.id}}{{/link-to}}<br>
  <strong>Commit:</strong> {{model.commit.sha}}<br>

  <h5>Resources ({{model.comparisons.length}})</h5>
  {{comparison-list comparisons=model.comparisons}}
</div>
