{{#if organization.subscription.isPending}}
  {{loading-page}}
{{else}}
  {{!-- TODO: #billingadmins --}}
  {{#unless (eq "admin" organization.currentUserMembership.role)}}
    <div class="Alert Alert--error">
      <strong>Changing billing settings requires organization admin permissions.</strong>
    </div>
  {{/unless}}
  {{#if (eq "admin" organization.currentUserMembership.role)}}
    <div class="row">
      <div class="eight columns">
        {{forms/billing-edit subscription=organization.subscription.content}}
      </div>
      {{#unless organization.subscription.isFree}}
        <div class="four columns u-text-right">
          <br>
          {{stripe-checkout
            organization=organization
            text='Update Credit Card'
            checkoutLabelText='Update Credit Card'
            updateCard=true
            plan=organization.subscription.plan
            price=0
            planName='Update Credit Card'
            changingSubscription=(action "changingSubscription")
          }}
        </div>
      {{/unless}}
    </div>
  {{/if}}
  <h4>Current subscription: {{organization.subscription.planName}}</h4>
  <p>
    <strong>
      Usage this month:
      {{format-number organization.subscription.currentUsage}}
      / {{format-number organization.subscription.planUsageLimit}} visual diffs
    </strong>
  </p>
  <p>
    Usage is across all projects in this organization and resets at the beginning of each month.
  </p>
  <h4>Subscription</h4>
  {{#if organization.subscription.isCustomPlan}}
  <div class="OrganizationsBillingSection-plan active container {{if (eq organization.subscription.plan plan.id) "active"}}">
      <div class="row">
        <div class="three columns">
          {{organization.subscription.planName}}
        </div>
        <div class="nine columns">
          <strong>{{organization.subscription.planNumWorkers}} parallel workers</strong>,
          <strong>{{format-number organization.subscription.planUsageLimit}} visual diffs</strong>,
          <strong>{{organization.subscription.planHistoryLimitDays}} day history</strong>
          <br>
          <br>
          You are on a custom plan. Feel free to <a href="#" {{action "showSupport"}}>reach out</a> with any questions before changing plans.
        </div>
      </div>
    </div>
    <br>
  {{/if}}
  {{#each subscriptionData.PLANS as |plan|}}
    {{#unless (eq plan.id "free")}}
      <div class="OrganizationsBillingSection-plan container {{if (eq organization.subscription.plan plan.id) "active"}}">
        <div class="row">
          <div class="three columns">
            {{plan.name}}
          </div>
          <div class="three columns">
            <strong>{{plan.numWorkersTitle}}</strong>
            <br>
            {{plan.historyLimitTitle}}
          </div>
          <div class="three columns">
            <strong><span>$</span>{{format-number plan.price precision=0}}</strong> / month
            <br>
            {{format-number plan.numDiffs}} visual diffs
          </div>
          <div class="three columns">
            {{#if (eq organization.subscription.plan plan.id)}}
              {{saving-indicator isSaving=isSaving isSaveSuccessful=isSaveSuccessful}}
            {{else}}
              {{!-- TODO: #billingadmins --}}
              {{#if (eq "admin" organization.currentUserMembership.role)}}
                {{stripe-checkout organization=organization plan=plan.id price=plan.price planName=plan.name classes="Button--primary" changingSubscription=(action "changingSubscription")}}
              {{/if}}
            {{/if}}
          </div>
        </div>
      </div>
    {{/unless}}
  {{/each}}
  <p>
    For more information, see {{#link-to "pricing"}}Pricing{{/link-to}}. Feel free to <a href="#" {{action "showSupport"}}>reach out</a> with any questions.
  </p>
  {{#unless organization.subscription.isFree}}
    {{!-- TODO: #billingadmins --}}
    {{#if (eq "admin" organization.currentUserMembership.role)}}
      <hr>
      <h4>Admin actions</h4>
      {{cancel-subscription organization=organization changingSubscription=(action "changingSubscription")}}
    {{/if}}
  {{/unless}}
{{/if}}