{{#if currentIntegration}}
  {{organizations/github-integration organization=organization}}
{{else}}
  {{#if organization.githubIntegrationRequest}}
    {{organizations/github-integration
      organization=organization
      cancelIntegrationRequest="cancelIntegrationRequest"
    }}
  {{else}}
    <p>
      <a {{action "triggerInstallation"}} href="{{githubIntegrationUrl}}" class="Button Button--primary Button--withLeftIcon" target="_blank">
        {{fa-icon "github" classNames="fa--left"}}
        Install GitHub App
      </a>
    </p>
    <p>
      <strong>Tip:</strong> GitHub requires that you have the "owner" role in an organization to add integrations.
    </p>
  {{/if}}
{{/if}}
