{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <a href="#" class="u-pull-right Button" {{action "invalidateSession"}}>Logout</a>
  <h2>Account</h2>
  <p>
    {{fa-icon "github"}} <strong><a href="{{session.data.authenticated.user.githubUrl}}">@{{session.data.authenticated.user.login}}</a></strong> ({{session.data.authenticated.user.name}})
  </p>
  {{!-- TODO: drop this. --}}
  <div class="Alert Alert--warning">
    <strong>Billing has moved to organizations!</strong> We have much better support for organizations and teams—you can now manage subscriptions in organization settings.
  </div>
</div>
{{main-footer}}