{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <a href="#" class="u-pull-right Button" {{action "invalidateSession"}}>Logout</a>
  <h2>Account</h2>
  <p>
    {{unbound fa-icon "github"}} <strong><a href="{{session.secure.user.githubUrl}}">@{{session.secure.user.login}}</a></strong> ({{session.secure.user.name}})
  </p>

  <h4>Current plan: {{session.secure.user.subscription.planName}}</h4>
  <div class="row">
    <div class="five columns">
      {{meter-bar count=session.secure.user.subscription.currentUsage total=session.secure.user.subscription.planUsageLimit}}
    </div>
    <div class="seven columns">
      <h5>
        {{format-number session.secure.user.subscription.currentUsage}}
        / {{format-number session.secure.user.subscription.planUsageLimit}} visual diffs
      </h5>
    </div>
  </div>

  {{#unless session.secure.user.subscription.isFree}}
    <p>
      {{stripe-checkout
        text='Update Credit Card'
        checkoutLabelText='Update Credit Card'
        forceCheckout=true
        plan=session.secure.user.subscription.plan
        price=0
        planName='Update Credit Card'
      }}
      {{cancel-subscription}}
    </p>
  {{/unless}}
  <h4>Upgrade plan</h4>
  {{pricing-section}}
  <div class="u-text-center u-text-small">
    <em>Average cost of 1 day of visual QA bug fixing by one engineer: $500+</em>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Pricing FAQ</h2>
    <h3></h3>
    {{pricing-questions}}
  </div>
</div>
{{main-footer}}