{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <a href="#" class="u-pull-right Button" {{action "invalidateSession"}}>Logout</a>
  <h2>Account</h2>
  <p>
    <strong>GitHub:</strong> <strong><a href="{{session.secure.user.githubUrl}}">@{{session.secure.user.login}}</a></strong> ({{session.secure.user.name}})
  </p>

  <h3>Current plan</h3>
  <h5 style="color: #777; margin-bottom: 5px; font-size: 2rem">{{session.secure.user.subscription.planName}}</h5>
  <div class="row">
    <div class="five columns">
      {{meter-bar count=session.secure.user.subscription.currentUsage total=session.secure.user.subscription.planUsageLimit}}
    </div>
    <div class="seven columns">
      <h5>
        {{format-number session.secure.user.subscription.currentUsage}}
        / {{format-number session.secure.user.subscription.planUsageLimit}} visual diffs
      </h5>
    </div>
  </div>

  {{#if session.secure.user.subscription.isFree}}
    {{pricing-free-section}}
  {{else}}
    <p>
      {{stripe-checkout
        text='Update Credit Card'
        checkoutLabelText='Update Credit Card'
        forceCheckout=true
        plan=session.secure.user.plan
        price=0
        planName='Update Credit Card'
      }}
      {{cancel-subscription}}
    </p>
  {{/if}}

  <h3>Upgrade plan</h3>

  {{pricing-section}}
</div>
{{main-footer}}