{{fixed-top-header}}
<div class="container container--fixedWidth container--forContent">
  <a href="#" class="u-pull-right Button" {{action "invalidateSession"}}>Logout</a>
  <h2>Account</h2>
  <p>
    {{fa-icon "github"}} <strong><a href="{{session.data.authenticated.user.githubUrl}}">@{{session.data.authenticated.user.login}}</a></strong> ({{session.data.authenticated.user.name}})
  </p>
  <div class="row">
    {{#show-if-hash hash="success"}}
      <div class="Alert Alert--success">
        {{fa-icon 'fa-check-circle'}} Your plan was updated successfully.
      </div>
    {{/show-if-hash}}
  </div>
  <hr>
  <h5>Current subscription: {{session.data.authenticated.user.subscription.planName}}</h5>
  <div class="row">
    <div class="seven columns">
      {{meter-bar count=session.data.authenticated.user.subscription.currentUsage total=session.data.authenticated.user.subscription.planUsageLimit}}
    </div>
    <div class="five columns">
      <p>
        <strong>{{format-number session.data.authenticated.user.subscription.currentUsage}}</strong>
        / {{format-number session.data.authenticated.user.subscription.planUsageLimit}} visual diffs
      </p>
    </div>
  </div>
  <hr>
  {{#unless session.data.authenticated.user.subscription.isFree}}
    <div class="row">
      <div class="five columns">
        {{subscription-info-form subscription=session.data.authenticated.user.subscription}}
      </div>
      <div class="seven columns u-text-right">
        <br>
        {{stripe-checkout
          text='Update Credit Card'
          checkoutLabelText='Update Credit Card'
          updateCard=true
          plan=session.data.authenticated.user.subscription.plan
          price=0
          planName='Update Credit Card'
        }}
        {{cancel-subscription}}
      </div>
    </div>
    <hr>
  {{/unless}}
</div>
<div class="container">
  {{pricing-section currentPlan=session.data.authenticated.user.subscription.plan}}
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Pricing FAQ</h2>
    <h3></h3>
    {{pricing-questions}}
  </div>
</div>
{{main-footer}}