<div class="container Header Header--large">
  {{#if session.isAuthenticated}}
    {{nav-menu user=session.secure.user}}
  {{else}}
    {{nav-menu}}
  {{/if}}
  <img class="Header-logo" src="/images/percy.svg">
  <h1 class="alt">Percy</h1>
  <h2>Visual continuous integration for web applications</h2>
  {{#if session.isAuthenticated}}
    {{#if session.secure.user.isWhitelisted}}
      {{#link-to 'owner.index' session.secure.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
    {{else}}
      <div class="Alert Alert--info">
        <strong>Thanks for requesting an invite!</strong> We're very excited to make Percy available to you.
        <br>
        You can help by <a href="https://goo.gl/ss3aYu">telling us more</a> about your app and tech stack.
      </div>
    {{/if}}
  {{else}}
    {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
  {{/if}}
</div>
{{#if session.isAuthenticated}}
  {{#if session.secure.user.isWhitelisted}}
  {{else}}
  {{/if}}
{{else}}
  <div class="container container--marketing container--darker InviteContainer">
    <div>We're currently in a <strong>private beta</strong>—<a href="#" {{action "sessionRequiresAuthentication"}}>sign up</a> to request an invite!</div>
  </div>
{{/if}}
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Stop doing QA in the dark</h2>
    <h3 class="alt u-no-margin">See every pixel before launch</h3>
  </div>
</div>
<div class="container container--marketing container--light MockPageContainer">
  {{mock-build-page}}
</div>
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent">
    <h2>CI friendly</h2>
    <h3 class="alt">Plays nice in your environment</h3>
    <div class="row">
      <div class="one-half column">
        <p>
          Percy <strong>automatically integrates with GitHub Pull Requests.</strong>
          If any visual diffs are found, you can review and approve to make the build green.
        </p>
        <p>
          Percy was also designed from the ground up to be <strong>compatible with any CI environment</strong>
          and can even work in your local development environment.
        </p>
      </div>
      <div class="one-half column u-text-center">
        <img src="/images/cis.png">
      </div>
    </div>
    <hr style="margin-bottom: 0">
  </div>
</div>
<div class="container container--marketing">
  <div class="row">
    <h3 class="alt">Automatic GitHub Pull Request integration</h3>
  </div>
  <div class="row">
    {{mock-approval-flow}}
  </div>
</div>
<div class="container container--marketing container--dark SpeedContainer">
  <div class="container container--fixedWidth container--forContent">
    <h2 id="pricing">Simple and <em>fast</em></h2>
    <div class="row">
      <div class="five columns">
        <img src="/images/race.png">
      </div>
      <div class="seven columns">
        <p>
          Percy is designed to be <strong>integrated in minutes</strong> and have almost <strong>no performance impact</strong> on the speed of your tests.
        </p>
        <p>
          We do all the complex and heavy lifting of screenshot rendering and visual diffing in our systems to keep yours fast.
        </p>
        <p>
          Percy comes with drop-in open source clients for Rails/Capybara tests and static websites, and we are just getting started.
        </p>
        <p>
          See the {{#link-to "faq"}}FAQ{{/link-to}} and {{#link-to "docs.index"}}Docs{{/link-to}} for more information.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2 id="pricing">Pricing</h2>
    <div class="row u-text-center">
      <p>
        We're still working out the details—to be announced after the beta!<br>
        We plan for the pricing to be simple and transparent.
      </p>
    </div>
  </div>
</div>
{{main-footer}}
