<div class="container Header Header--large">
  {{#if session.isAuthenticated}}
    {{nav-menu user=session.secure.user classes="u-pull-right u-clear-floats"}}
  {{else}}
    {{nav-menu classes="u-pull-right u-clear-floats"}}
  {{/if}}
  <img class="Header-logo" src="/images/percy.svg">
  <h1>Percy</h1>
  <h2>Visual continuous integration for web applications</h2>
  {{#if session.isAuthenticated}}
    {{#if session.secure.user.isWhitelisted}}
      {{#link-to 'owner.index' session.secure.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
    {{else}}
      <div class="Alert Alert--info">
        <strong>Thanks for requesting an invite!</strong> We're very excited to make Percy available to you.
        <br>
        You can help by <a href="https://goo.gl/ss3aYu">telling us more</a> about your app and tech stack.
      </div>
    {{/if}}
  {{else}}
    {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
  {{/if}}
</div>
{{#if session.isAuthenticated}}
  {{#if session.secure.user.isWhitelisted}}
  {{else}}
  {{/if}}
{{else}}
  <div class="container container--marketing container--darker InviteContainer">
    <div>We're currently in a <strong>private beta</strong>—<a href="#" {{action "sessionRequiresAuthentication"}}>sign up</a> to request an invite!</div>
  </div>
{{/if}}
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Stop doing QA in the dark</h2>
    <h3 class="u-no-margin">See every pixel before launch</h3>
  </div>
</div>
<div class="container container--marketing container--light MockPageContainer">
  {{mock-build-page}}
</div>
    {{!--
      <div class="one-third column">
        <p>
          <strong>Go beyond unit testing.</strong>
        </p>
        <p>
          With one line of code, Percy snapshots your UI and shows you exactly what pixels changed from the last time.
        </p>
        <p>
          <code style="padding: 10px">
            Percy.snapshot(page)
          </code>
        </p>
        <p>
          <strong>Avoid expensive and error-prone manual QA.</strong> Get visibility into exactly how code visually changes your app.
        </p>
      </div>
      <div class="two-thirds column">
        <p>
        </p>
      </div>
    </div>
  </div>
</div>
--}}
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent">
    <h2>CI friendly</h2>
    <h3>Plays nice in your environment</h3>
    <div class="row">
      <div class="one-half column">
        <p>
          Percy <strong>automatically integrates with GitHub Pull Requests.</strong>
          If any visual diffs are found, you can review and approve to make the build green.
        </p>
        <p>
          Percy was also designed from the ground up to be <strong>compatible with any CI environment</strong>
          and can even work in your local development environment.
        </p>
      </div>
      <div class="one-half column u-text-center">
        <img src="/images/cis.png">
      </div>
    </div>
    <hr style="margin-bottom: 0">
  </div>
</div>
<div class="container container--marketing">
  <div class="row">
    <h3>Automatic GitHub Pull Request integration</h3>
  </div>
  <div class="row">
    {{mock-approval-flow}}
  </div>
</div>
<div class="container container--marketing container--dark">
  <div class="container container--fixedWidth container--forContent">
    <h2 id="pricing">Speed and simplicity</h2>
    <h3></h3>
    <div class="row u-text-center">
      <p>
        So, how hard is all of this?
      </p>
      <p>
        Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
        Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
      </p>
    </div>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2 id="pricing">Simple, transparent pricing</h2>
    <h3></h3>
    <div class="row u-text-center">
      <p>
        We're still working out the details—to be announced!
      </p>
    </div>
  </div>
</div>
{{main-footer}}
