<div class="container Header Header--large">
  {{#if session.isAuthenticated}}
    {{nav-menu user=session.secure.user}}
  {{else}}
    {{nav-menu}}
  {{/if}}
  <img class="Header-logo" src="/images/percy.svg">
  <h1 class="alt">Percy</h1>
  <h2>Continuous visual integration for web apps</h2>
  {{#if session.isAuthenticated}}
    {{#if session.secure.user.isWhitelisted}}
      {{#link-to 'namespace.index' session.secure.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
    {{else}}
      <div class="Alert Alert--info">
        <strong>Thanks for requesting an invite!</strong> We're very excited to make Percy available to you.
        <br>
        You can help by <a href="https://goo.gl/ss3aYu">telling us more</a> about your app and tech stack.
      </div>
    {{/if}}
  {{else}}
    {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
  {{/if}}
</div>
{{#unless session.isAuthenticated}}
  <div class="container container--marketing container--darker InviteContainer">
    <a href="/login" {{action "sessionRequiresAuthentication"}}>Sign up for an invite</a> or <a href="#updates">join the mailing list</a>.
  </div>
{{/unless}}
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Stop doing QA in the dark</h2>
    <h3 class="alt u-no-margin">See every changed pixel before launch</h3>
  </div>
</div>
<div class="container container--marketing container--light MockPageContainer">
  {{mock-build-page}}
</div>
<div class="container container--marketing CiContainer">
  <div class="container container--fixedWidth container--forContent">
    <h2>CI friendly</h2>
    <div class="row">
      <div class="one-half column">
        <p>
          <strong>Runs with your test suite</strong> and automatically supports common CI services with zero configuration.
        </p>
        <p>
          <strong>Integrates with GitHub Pull Requests</strong>—approve or reject visual diffs in one click as part of your code review process.
        </p>
      </div>
      <div class="one-half column u-text-center">
        {{supported-cis-image}}
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing">
  <div class="row">
    <h3 class="alt">Automatic GitHub Pull Request integration</h3>
  </div>
  <div class="row">
    {{mock-approval-flow}}
  </div>
</div>
<div class="container container--marketing container--dark SpeedContainer">
  <div class="container container--fixedWidth container--forContent">
    <h2>Simple and <em>fast</em></h2>
    <h3 class="alt">Visual diff testing at scale</h3>
    <div class="row">
      <div class="five columns">
        <img src="/images/race.png">
      </div>
      <div class="seven columns">
        <p>
          Designed to be <strong>integrated in minutes</strong> and have <strong>no performance impact</strong> on your tests.
        </p>
        <p>
          We handle all the heavy lifting of screenshot rendering and visual diffing in our systems, so you don't have to.
        </p>
        <p>
          Percy comes with drop-in open source clients for Rails/Capybara tests and static websites, and we are just getting started.
        </p>
        <p>
          See the {{#link-to "faq"}}FAQ{{/link-to}} and {{#link-to "docs.index"}}Docs{{/link-to}} for more info.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent">
    <h2>Pricing</h2>
    <h3></h3>
    {{pricing-section forceAccountPage=true}}
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Pricing FAQ</h2>
    <h3></h3>
    {{pricing-questions}}
  </div>
</div>
{{#unless session.isAuthenticated}}
  <div class="container container--marketing container--dark SignUpContainer">
    <div class="container container--fixedWidth container--forContent">
      <h2>Sign up for updates</h2>
      <div class="row u-text-center">
        <p>
          Percy is in a <strong>private beta</strong>—sign up for an invite!
        </p>
        <p>
          {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
        </p>
        <p id="updates">
          Or join the announcement mailing list:
          <form action="//percy.us11.list-manage.com/subscribe/post?u=91ed66ed144af73368ef29b57&amp;id=312a531647" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <input type="email" value="" name="EMAIL" class="required email" placeholder="you@example.com">
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="Button Button--onDark">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_91ed66ed144af73368ef29b57_3b8f071960" tabindex="-1" value=""></div>
          </form>
          <span>We will only use your email to let you know when Percy is available.</span>
        </p>
      </div>
    </div>
  </div>
{{/unless}}
{{main-footer}}