<div class="container Header Header--large">
  {{#if session.isAuthenticated}}
    {{nav-menu user=session.data.authenticated.user}}
  {{else}}
    {{nav-menu}}
  {{/if}}
  <img class="Header-logo" src="/images/percy.svg">
  <h1 class="alt">Percy</h1>
  <h2>Continuous visual integration for web apps</h2>
  {{#if session.isAuthenticated}}
    {{#link-to 'namespace.index' session.data.authenticated.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
  {{else}}
    {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
  {{/if}}
</div>
<div class="container container--marketing container--darker InviteContainer">
  Blog: <em><a href="https://blog.percy.io/2015/10/26/open-for-business/">Open for business!</a></em>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Stop doing QA in the dark</h2>
    <h3 class="alt u-no-margin">See every changed pixel before launch</h3>
  </div>
</div>
<div class="container container--marketing container--light MockPageContainer">
  {{mock-build-page}}
</div>
<div class="container container--marketing CiContainer">
  <div class="container container--fixedWidth container--forContent">
    <h2>CI friendly</h2>
    <div class="row">
      <div class="one-half column">
        <p>
          <strong>Runs with your test suite</strong> and automatically supports common CI services with zero configuration.
        </p>
        <p>
          <strong>Integrates with GitHub Pull Requests</strong>—approve or reject visual diffs in one click as part of your code review process.
        </p>
      </div>
      <div class="one-half column u-text-center">
        {{supported-cis-image}}
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent">
    <div class="row u-text-center">
      <h3 class="alt">Automatic GitHub Pull Request integration</h3>
      <p><strong>You already do code review.</strong> Percy gives you instant visual reviews, right alongside your tests in GitHub.</p>
      <p></p>
    </div>
    <div class="row">
      {{mock-approval-flow}}
    </div>
  </div>
</div>
<div class="container container--marketing container--dark">
  <div class="container container--fixedWidth container--forContent">
    <h2>Simple and <em>fast</em></h2>
    <h3 class="alt">Visual diff testing at scale</h3>
    <div class="row">
      <div class="five columns">
        <img style="max-width: 100%" src="/images/race.png">
      </div>
      <div class="seven columns">
        <p>
          Designed to be <strong>integrated in minutes</strong> and have <strong>no performance impact</strong> on your tests.
        </p>
        <p>
          We handle all the heavy lifting of screenshot rendering and visual diffing in our systems, so you don't have to.
        </p>
        <p>
          Percy comes with drop-in open source clients for Rails/Capybara tests and static websites, and we are just getting started.
        </p>
        <p>
          See the {{#link-to "docs.faq"}}FAQ{{/link-to}} and {{#link-to "docs.index"}}Docs{{/link-to}} for more info.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing container--forContent container--fixedWidth TrustedByContainer">
  <div class="row">
    <div class="two column">
      <h4>Trusted by:</h4>
    </div>
    <div class="ten column">
      <img class="u-show-if-desktop" src="/images/trusted-by.jpg">
      <img class="u-show-if-mobile" src="/images/trusted-by-mobile.jpg">
    </div>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Automate your visual testing today</h2>
    <div class="row">
      <div class="six columns">
      <h4>Rails + RSpec</h4>
{{#code-block lang="ruby"}}
gem 'percy-capybara'
{{/code-block}}

{{#code-block lang="ruby"}}
# spec_helper.rb:
require 'percy/capybara/rspec'
{{/code-block}}

{{#code-block}}
<span class="dim">describe 'app features', type: :feature do
  it 'shows the dropdown menu when clicked' do
    visit '/'
    first('.dropdown-toggle').click</span>
    Percy::Capybara.snapshot(page)
  <span class="dim">end
end</span>
{{/code-block}}
      </div>
      <div class="six columns">
      <h4>Static websites</h4>
{{#code-block lang="bash"}}
$ gem install percy-cli
$ percy snapshot _site/
{{/code-block}}
      </div>
    </div>
    <hr>
    <div class="row u-text-center">
      <p>It's easy to get started, see the {{#link-to "docs.index"}}Docs{{/link-to}}, {{#link-to "pricing"}}Pricing{{/link-to}}, or {{#link-to "docs.faq"}}FAQ{{/link-to}} for more info.</p>
      {{#if session.isAuthenticated}}
        {{#link-to 'namespace.index' session.data.authenticated.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
      {{else}}
        {{login-button sessionRequiresAuthentication="sessionRequiresAuthentication"}}
      {{/if}}
    </div>
  </div>
</div>
{{main-footer}}