<div class="container Header Header--large">
  {{#if session.isAuthenticated}}
    {{nav-menu user=session.data.authenticated.user}}
  {{else}}
    {{nav-menu}}
  {{/if}}
  <img class="Header-logo" src="/images/percy.svg">
  <h1 class="alt">Percy</h1>
  <h2>Continuous visual integration for web apps</h2>
  {{#if session.isAuthenticated}}
    {{#link-to 'namespace.index' session.data.authenticated.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
  {{else}}
    {{login-button redirectToLogin="redirectToLogin"}}
  {{/if}}
</div>
<div class="container container--marketing container--darker InviteContainer">
  Blog: <em><a href="https://blog.percy.io/freezing-animations-in-visual-regression-tests-e6db56a7b3a5">Freezing animations in visual regression tests</a></em>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Stop doing QA in the dark</h2>
    <h3 class="alt u-no-margin">See every pixel changed on every PR</h3>
  </div>
</div>
<div class="container container--marketing container--light MockPageContainer">
  {{mock-build-page}}
</div>
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent u-text-center">
    <div class="row u-text-center">
      <h2>GitHub PR integration</h2>
      <h3></h3>
      <p>
        <strong>Shows up with your tests in GitHub.</strong>
        <br>
        Approve visual changes in one click as part of your code review process.
      </p>
    </div>
    <div class="row">
      {{mock-approval-flow}}
    </div>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Visual regression testing</h2>
    <h3 class="alt">in your development workflow</h3>
    <div class="row">
      <div class="one-half column">
        <p>
          We believe visual testing is only truly useful for developers if it fits into your day-to-day workflow.
        </p>
        <p>
          Unlike other services that are limited to only testing staging servers or live sites, <strong>Percy integrates directly into your test suite and development workflow</strong> to provide iterative and fast feedback about visual changes. This is what we mean by <strong>continuous visual integration</strong>.
        </p>
        <p>
          Percy runs with your test suite, takes DOM snapshots, and uploads them to our service where they are rendered in a modern browser, stored, and compared to your master branch. We <strong>support most CI services</strong> and custom environments.
        </p>
      </div>
      <div class="one-half column u-text-center">
        {{supported-cis-image}}
        {{marketing-num-diffs}}
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent u-text-center">
    <h2>Responsive visual diffs</h2>
    <div class="row">
      <p>
        Test your responsive designs—simply provide a list of breakpoint widths and we take care of the rest. See how CSS changes will affect your entire site, including on mobile devices. Catch mobile visual bugs before launch.
        <br>
        {{#link-to "integrations.responsive"}}See docs »{{/link-to}}
      </p>
      <p>
        <img class="u-capped-width" style="border: 1px solid #ddd" src="/images/example-responsive-375.jpg">
      </p>
    </div>
  </div>
</div>
<div class="container container--marketing container--dark">
  <div class="container container--fixedWidth container--forContent">
    <h2>Simple and fast</h2>
    <h3 class="alt">visual diff testing at scale</h3>
    <div class="row">
      <div class="five columns">
        <img style="max-width: 100%" src="/images/race.png">
      </div>
      <div class="seven columns">
        <p>
          Designed to be <strong>integrated in minutes</strong> and have <strong>no performance impact</strong> on your tests.
        </p>
        <p>
          We handle all the heavy lifting of consistent screenshot rendering and visual diffing in our systems, so you don't have to.
        </p>
        <p>
          Percy comes with drop-in open source clients for Rails/Capybara tests and static websites.
        </p>
        <p>
          See the {{#link-to "docs.faq"}}FAQ{{/link-to}} for more info.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container container--marketing container--forContent container--fixedWidth TrustedByContainer">
  <div class="row">
    <div class="two column">
      <h4>Trusted by:</h4>
    </div>
    <div class="ten column">
      <img class="u-show-if-desktop" src="/images/trusted-by.jpg">
      <img class="u-show-if-mobile" src="/images/trusted-by-mobile.jpg">
    </div>
  </div>
</div>
<div class="container container--marketing container--light">
  <div class="container container--fixedWidth container--forContent">
    <h2>Get started</h2>
    <div class="row">
      <div class="six columns">
      <h3>Rails + RSpec</h3>
{{#code-block lang="ruby"}}
gem 'percy-capybara'
{{/code-block}}

{{#code-block lang="ruby"}}
# spec_helper.rb:
RSpec.configure do |config|
  config.before(:suite) { Percy::Capybara.initialize_build }
  config.after(:suite) { Percy::Capybara.finalize_build }
end
{{/code-block}}

{{#code-block}}
<span class="dim">describe 'app features', type: :feature do
  it 'shows the dropdown menu when clicked' do
    visit '/'
    first('.dropdown-toggle').click</span>
    Percy::Capybara.snapshot(page, name: 'homepage')
  <span class="dim">end
end</span>
{{/code-block}}
        {{#link-to "docs.capybara"}}See more »{{/link-to}}
      </div>
      <div class="six columns">
      <h3>Static websites</h3>
{{#code-block lang="bash"}}
$ gem install percy-cli
$ percy snapshot _site/
{{/code-block}}
        {{#link-to "docs.static"}}See more »{{/link-to}}
      </div>
    </div>
    <hr>
    <div class="row u-text-center">
      <p>
        It's easy to get started, see the {{#link-to "docs.index"}}Docs{{/link-to}}, or {{#link-to "docs.faq"}}FAQ{{/link-to}} for more info.
      </p>
      {{#if session.isAuthenticated}}
        {{#link-to 'namespace.index' session.data.authenticated.user.login classNames="Button Button--primary Button--onDark"}}My Repositories &raquo;{{/link-to}}
      {{else}}
        {{login-button redirectToLogin="redirectToLogin"}}
      {{/if}}
      <p>
        Our {{#link-to "pricing"}}free plan{{/link-to}} comes with 250 visual diffs/month to get started.
      </p>
    </div>
  </div>
</div>
{{main-footer}}