{{title "Pricing"}}
{{fixed-top-header}}
<div class="container container--marketing">
  <div class="container container--fixedWidth container--forContent">
    <h2>Pricing</h2>
    <h3>Stop doing QA in the dark. Automate your visual testing today.</h3>
    {{pricing-section showSupport="showSupport"}}
  </div>
</div>
<div class="container container--light">
  <div class="container container--fixedWidth container--forContent">
    {{pricing-questions}}
  </div>
</div>
{{main-footer}}
